[2021-02-12 17:51] mlmarius opened #4181 "Emqx show strange errors possibly auth pgsql related"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`):  Docker image emqx:4.2.2
- Hardware configuration (e.g. `lscpu`):
[code]
- OS (e.g. `cat /etc/os-release`):
[code]
- Kernel (e.g. `uname -a`): Linux iot-gateway 5.4.0-65-generic #73-Ubuntu SMP Mon Jan 18 17:25:17 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

- Others: Running emqx inside Docker swarm

**What happened and what you expected to h

[2021-02-12 22:54] dsilletti opened #4184 "listener.ws.external.proxy_address_header and listener.ws.external.proxy_port_header not working"
**Environment**:

- EMQ X version: 4.2.7 Official Docker container

**What happened and what you expected to happen**:

I configured emqx according to the last user guide wit the following env variables in my docker-compose file:
      - EMQX_listener__ws__external__proxy_address_header=X-Forwarded-For
      - EMQX_listener__ws__external__proxy_port_header=X-Forwarded-Port

nginx is also configure

[2021-02-13 06:54] HJianBo commented on #4130
Resolved/Duplicated on https://github.com/emqx/emqx-lwm2m/issues/107

[2021-02-13 06:54] #4130 closed

[2021-02-13 07:19] #4138 closed

[2021-02-13 07:24] HJianBo commented on #1659
@aaamitsingh Sorry the late reply. We currently have CoAP/LwM2M support in emqx v4.x. (There may be some optimizations that need to be implemented on 5.0) but we haven't started the discussion on LoraWAN yet.

Can you open a new issue for us to discuss something related to LoraWAN? (Because it looks like this issue hasn't been updated in a while)

[2021-02-13 08:33] zmstone commented on #4043
From the crash logs, it seems that a lot of connection were making calls to postgres
the queries were queued up in the connection processes.
Judging by the reported number of queries and the total RAM usage reported in your crash log,
the queries (internally) can be quite bloated.

It's great that you managed to handle the situation by give the pods more RAM.
There are few things we can do.
From E

[2021-02-13 08:41] zmstone commented on #4043
The auth are not cached, so all will have to be done by querying postgres.
A high arrival rate of new connections may put a lot load on the connection pool.
It's one Erlang process for each client, if thousands of clients make concurrent queries,
on 8 pooled postgres connections, the calls will have to be queued somewhere.
In this case, they are queued in postgres connection process' 'mailbox' (Er

[2021-02-13 09:18] HJianBo commented on #4033
If this is the case, why do we need to enable the emqx-auth-mysql plugin? As long as the SSL two-way handshake is successful, the device will be proven to be legitimate.

[2021-02-13 09:22] KrYpToDeN commented on #4033
Hello, @HJianBo

We need realtime ACL settings. MySQL - i think the best way to control it.
Could you check it in further version, please?

[2021-02-13 09:26] HJianBo commented on #4033
If you don't need authentication, just comment out these lines:

[code]

[2021-02-13 11:16] KrYpToDeN commented on #4033
Thank you, @HJianBo

We will try this way, soon.

Tell me, please, if we else want to connect via admin account (username + password) to read all user topics from our scripts.
Probably via REST api.

Can we do it, if we will disable auth check in mysql plugin?

[2021-02-14 10:16] spokc commented on #4170
Any update here ?

[2021-02-14 11:12] HJianBo commented on #4033
Yes, you can.

[2021-02-15 08:36] mariusstaicu commented on #4043
Hi @zmstone, thanks for the suggestion, we will take into consideration increasing also the ACL cache.
Regarding auth process, it sure seems to increase the memory a bit more than expected, however it is nice that this can be solved with allocation more RAM.

[2021-02-15 09:16] KrYpToDeN commented on #4033
Hello, @HJianBo

In this way, if allow_anonymous is false, we got:

[Channel] Client mosq-w9BZd68fFDULipcKd7 (Username: 'undefined') login failed for not_authorized

[2021-02-15 11:20] Kidsan opened #4192 "MQTT Enhanced Authentication Module"
I was looking to try out the Enhanced Authentication module but I cannot find any docs on how to configure it. Would you be able to direct me to some information on this?
The page on the docs is blank: https://docs.emqx.io/en/enterprise/latest/modules/auth_sasl.html

[2021-02-15 11:33] Kidsan opened #4193 "Hot Upgrade for major and minor versions"
**What would you like to be added/modified**:
I would like to be able to upgrade my EMQX cluster in place for major and minor versions.

**Why is this needed**:
With 4.2.0 you added support for hot upgrades of patch versions, but extending this to major (or at least minor) versions would be hugely useful. I am running a cluster in production on Kubernetes, and upgrading from 4.0.X to 4.2.X ended u

[2021-02-16 06:52] saraAlizadeh commented on #4166
this is the log when I create a rule. the dashboard shows "successfully created", though logs are like:
[code]

this is the log when creating resource:
[code]

[2021-02-16 08:34] muhsin1975 commented on #4161
Hello... were u able to find chance to have a look at the issue ?

[2021-02-16 10:20] muhsin1975 commented on #4161
I found a way to solve the issue. I changed the query to
select
    schema_decode('SCHEMA_FBDATA',  payload,  'FBDATA') as feedback, clientid,
    feedback.x_state as x_state
    FROM
  "FBDATA/#"

and use ${x_state} in fields list to influx. It is working in this way. So the problem was at the ${feedback.} part of the decleration. May be you wish to check it.
Thanks for the support

[2021-02-16 10:24] terry-xiaoyu commented on #4181
@mlmarius Hi, looks like there's an `idle timeout` set in the postgresql or the network between the emqx and postgresql, causing the tcp connection disconnected periodically. Could you check that?

[2021-02-16 10:39] terry-xiaoyu commented on #4193
Hot upgrading between major (or even minor) versions is almost not possible, as it requires too large cost on maintaining and testing work.

When releasing a new version we have to consider both the hot-upgrading and backward compatibility, that's hard especially when some of the data structure or configuration is changed. For major releases even the backward compatibility is not passible as the a

[2021-02-16 12:42] #4161 closed

[2021-02-16 12:44] KrYpToDeN commented on #4033
Hello, @HJianBo

Could you hep me to solve my problem and close this issue?

We are interesting in your project, we are looking for enterprise version. But we need it to work with our needs.

We are waiting for your help, thanks.

[2021-02-16 12:54] Kidsan commented on #4193
I understand that major versions may be unrealistic, but I would think that minor version upgrading should be evaluated. By definition a minor update shouldn't be a breaking change. At the very least I would think there should be a suggestion made on how upgrades in production can be done (in my case on Kubernetes) without downtime or with minimised downtime.

[2021-02-16 22:30] rgaufman commented on #3695
We had this issue today after Linode decided to migrate our host for maintenance reasons which I guess got the databases out of sync. In our case, moving the old mnesia database out of the way fixed the problem.

[2021-02-18 01:35] tigercl commented on #4192
@Kidsan I'm sorry that I didn't reply to you in time because of the vacation. We have not provided the corresponding document for the enhanced authentication. This is our omission, we will complete this document as soon as possible.

You can refer to the relevant content of enhanced authentication in [section 4.12 of the MQTT protocol specification](https://docs.oasis-open.org/mqtt/mqtt/v5.0/os/mq

[2021-02-18 02:01] terry-xiaoyu commented on #4193
That would be nice, we may support hot-upgrading between minor versions in some degree, maybe after 5.0 but I'm not sure.
It is difficult for two reasons:

- Some of the internal data structure may have to be changed, for fixing an issue or adding a feature. To support hot upgrading for this is possible but need lots of testing work - again it is about cost.

- The Erlang OTP it self may have crit

[2021-02-18 03:19] HJianBo commented on #4033
The `Username` is actually set up, but there is a problem with the printing here. This has been fixed in 4.3.0. Don't worry, it just a BUG for log printing.

In addition, the authentication failure is caused by the fact that you have turned off allow_anonymous and no authentication plugin gives the client authorization.

There are two solutions here:

1. Turn on allow_anonymous, if a successful SS

[2021-02-18 03:32] outminder commented on #4162
@terry-xiaoyu @tigercl I am still not able to resolve this, I am using Enterprise 4.2.0 Centos package. I did everything write(AFAIK) and still not working. Really appreciate if you can give any pointers.

[2021-02-18 03:39] tigercl commented on #4166
@saraAlizadeh Sorry to trouble you, please add the port when configuring the URL, I think it can solve your current problem.

[2021-02-18 06:12] terry-xiaoyu opened #4198 "Memory leak in lwm2m plugin"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`): emqx enterprise 4.2.3, and also the latest version of emqx opensoure
- OS (e.g. `cat /etc/os-release`): Mac OSX 10.15.7
- Erlang/OTP version (in case you build emqx from source code): 22.3.0

**What happened and what you expected to happen**:

The lwm2m plugin consumes more and more memory for a lwm2m device running for a long time. Seems

[2021-02-18 07:45] terry-xiaoyu opened #4199 "Don't delete tokens for dowlink observation request"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`): latest version
- OS (e.g. `cat /etc/os-release`): Mac OSX
- Erlang/OTP version (in case you build emqx from source code): 22.3.0

**What happened and what you expected to happen**:

The tokens stored in the emqx_coap_channel process should be deleted, except the tokens for the downlink observe commands, as observation tokens is intended t

[2021-02-18 10:11] MikaelElkiaer opened #4200 "ACL and rewrite are handled differently for subscribe and publish"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`): 4.2.7
- Hardware configuration (e.g. `lscpu`): N/A
- OS (e.g. `cat /etc/os-release`): N/A
- Kernel (e.g. `uname -a`): N/A
- Erlang/OTP version (in case you build emqx from source code):  N/A
- Others: Via Docker version

**What happened and what you expected to happen**:
Having the rewrite rules:
[code]
The subscription topic and the publ

[2021-02-18 10:16] Kidsan commented on #4192
@tigercl  thanks for the info

[2021-02-18 10:20] Kidsan commented on #4193
@terry-xiaoyu That makes sense, thanks for the info.

[2021-02-18 11:29] XxKavosxX opened #4202 "SSL/TLS don't working"
Please, can you guys help-me? I have tried this tutorial

[emqx-server-ssl-tls-secure-connection-configuration-guide](https://www.emqx.io/blog/emqx-server-ssl-tls-secure-connection-configuration-guide)

Currently i'm running the emqx-edge on my RaspberryPi3B+ at fixed IP = 192.168.0.5.

And using the MQTTX (with the my_root_ca.pem as the tutorial) from my PC (same localnetwork) to connect to the b

[2021-02-18 12:09] zmstone commented on #4202
`eacces` indicates file permission issue.
please make sure the users which runs `emqx` service should have permission to read.

[2021-02-18 12:22] XxKavosxX commented on #4202
@zmstone , trying that

Ensuring all privileges with  `$sudo chmod -R 777 .`   to the `/etc/emqx/certs`  folder

MQTTX client return

`Error [ERR_TLS_CERT_ALTNAME_INVALID]: Hostname/IP does not match certificate's altnames: IP: 192.168.0.5 is not in the cert's list`

[2021-02-18 12:24] zmstone commented on #4202
MQTTX client is trying to validate the hostname.
You may either
1. create cert for the real host (192.168.0.5)
2. disable verification in MQTTX

[2021-02-18 12:33] XxKavosxX commented on #4202
I recreate all the certs

openssl.cnf:

**[req]
default_bits  = 2048
distinguished_name = req_distinguished_name
req_extensions = req_ext
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
countryName = CN
stateOrProvinceName = Zhejiang
localityName = Hangzhou
organizationName = EMQX
commonName = Server certificate
[req_ext]
subjectAltName = @alt_names
[v3_req]
subjectAltName = @alt_nam

[2021-02-18 13:13] zmstone commented on #4202
is it 192.1680.5 as the hostname in MQTTX ?

[2021-02-18 13:34] XxKavosxX commented on #4202
No MQTTX are running on my PC at IP=192.168.0.13

[2021-02-18 13:37] zmstone commented on #4202
I mean, which endpoint did you use to connect from MQTTX  GUI?
Is it a hostname or the exact IP?

[2021-02-18 13:40] XxKavosxX commented on #4202
That's my MQTTX client

![image](https://user-images.githubusercontent.com/12784642/108365023-95b5d480-71ab-11eb-8b25-255dad18a7ec.png)

CA cert copied from RaspberryPi

![image](https://user-images.githubusercontent.com/12784642/108365134-b7af5700-71ab-11eb-9141-da6951eb9dc6.png)

[2021-02-18 13:49] zmstone commented on #4202
could you try to inspect the certificate by this command
`openssl s_client -connect 192.168.0.5:8883 </dev/null 2>/dev/null | openssl x509 -noout -text`

[2021-02-18 13:59] XxKavosxX commented on #4202
`Certificate:
    Data:
        Version: 1 (0x0)
        Serial Number:
            7f:32:5b:99:03:f5:52:1e:6b:70:99:6b:fd:4a:7b:b9:e8:fe:73:84
        Signature Algorithm: sha256WithRSAEncryption
        Issuer: C = BR, ST = ST, L = CT, O = RE, OU = E, CN = myname, emailAddress = my@email.com
        Validity
            Not Before: Feb 18 13:41:14 2021 GMT
            Not After : Feb 16 13:41:14

[2021-02-18 14:01] zmstone commented on #4202
It seems the alternative name did take effect when you generated the cert.
otherwise there should be `            X509v3 Subject Alternative Name:` in the output

[2021-02-18 14:11] XxKavosxX commented on #4202
If i uncheck the `SSL secure`, it connects

![image](https://user-images.githubusercontent.com/12784642/108368968-e6c7c780-71af-11eb-8735-0b6ae4a82778.png)

![image](https://user-images.githubusercontent.com/12784642/108369126-170f6600-71b0-11eb-8bbb-c08ed6009eec.png)

[2021-02-18 14:17] zmstone commented on #4202
I'll experiment a bit and get back to you.

[2021-02-18 14:23] XxKavosxX commented on #4202
Ok, my RaspberryPi is running Raspibian 10, and my PC windows 10, if it matters

[2021-02-18 14:25] zmstone commented on #4202
@XxKavosxX could you try to re-generate the certificate with this command:
[code]

I believe `-extensions v3_req -extfile openssl.cnf` is missing in the tutorial.

[2021-02-18 14:45] XxKavosxX commented on #4202
`openssl genrsa -out my_root_ca.key 2048`

`openssl req -x509 -new -nodes -key my_root_ca.key -sha256 -days 3650 -out my_root_ca.pem`

`openssl genrsa -out emqx.key 2048`

`openssl.cnf` :
[req]
default_bits  = 2048
distinguished_name = req_distinguished_name
req_extensions = req_ext
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
countryName = CN
stateOrProvinceName = Zhejiang
locali

[2021-02-18 14:47] XxKavosxX commented on #4202
@zmstone  Thank you for your help !!

[2021-02-18 14:51] #4202 closed

[2021-02-18 19:08] JohnRoesler opened #4203 "Consider hashicorp consul as cluster option"
**What would you like to be added/modified**:

A clustering option similar to etcd using hashicorp's consul

**Why is this needed**:

consul is a popular option for key/value store these days and would be a great a addition

[2021-02-19 07:19] RalphLuo opened #4207 "How to deal with the array format of payload?"
payload data:
[{"frmt":10,"ver":10,"cid":"Client1001","datas":[{"cf":1,"nm":"C1_smart200_Tag1","ad":0,"vt":2,"v":4896.0,"t":"2021-01-25 15:26:17.908","q":0},{"cf":1,"nm":"C1_smart200_Tag2","ad":0,"vt":2,"v":9781.0,"t":"2021-01-25 15:26:17.908","q":0},{"cf":1,"nm":"C1_smart200_IoStatus","ad":0,"vt":1,"v":1,"t":"2021-01-25 15:26:11.286","q":0}]}]

I don't know how to write rule engine SQL,i hope tes

[2021-02-19 07:38] zmstone commented on #4207
Hi we have a `jq` kind of query implementation planned, but no such support so far.

[2021-02-19 10:00] lq-joke opened #4208 "does ed25519 Encryption Certificate Support in emqx 4.2.5?"
After the HTTPS protocol is upgraded from tlsv1.2 to tlsv1.3, the certificate information can be returned for the certificate encrypted using RSA.

However, after I change the encryption algorithm to ed25519, emqx cannot identify the root certificate.
The following is the error log from emqx:

[code]

tips: I have confirmed the values of the following configuration items:
listener.ssl.external.tls

[2021-02-19 10:08] M-Keidler-GROB opened #4209 "monitor client connection process"
introduction: I had a bug in our mqtt client. when the connection to the broker get lost for some reason (e.g. network issues) the client was intend to do a reconnect. unfortunatly it did not a reconnect it generates a new instance of the client with the same client ID like the still existing client. As long as the network connection issues exist, the backend system generates more and more new cli

[2021-02-20 09:37] leqii-com commented on #3789
emqx_auth_pgsql 启动失败，解决了吗？跟你问题一样。

[2021-02-20 09:40] zmstone commented on #3789
`econnrefused` suggests that the endpoint server refuses to accept the connection.
likely the configured endpoint (server) is **NOT** listening on the port.

[2021-02-20 09:40] #3789 closed

[2021-02-20 09:42] leqii-com commented on #3789
我的错误提示是：
{emqx_auth_pgsql, {bad_return, {{emqx_auth_pgsql_app,start,[normal,[]]}, {'EXIT', {{badmatch, {error, {shutdown, {failed_to_start_child,emqx_auth_pgsql, {shutdown, {failed_to_start_child,worker_sup, {shutdown, {failed_to_start_child, {worker,1}, invalid_authorization_specification}}}}}}}}, [{emqx_auth_pgsql_app,start,2, [{file,"emqx_auth_pgsql_app.erl"},{line,37}]}, {application_master,st

[2021-02-20 09:48] zmstone commented on #3789
seems to be the same issue as this:
https://github.com/emqx/emqx-auth-pgsql/issues/17

[2021-02-20 09:51] zmstone commented on #3789
I quote here:

[code]

[2021-02-20 09:54] zmstone commented on #3789
maybe not the exact reason, but `invalid_authorization_specification` suggests it's a bad configuration on the server side.
I noticed the `thrust` typo too, maybe should be `trust` instead

[2021-02-21 07:26] supery-chen opened #4215 "Feature request: Force ACL cache eviction"
**What would you like to be added/modified**:
 @希望能够提供批量清除客户端acl缓存功能🙇‍
We wish to have a command line (or REST API) to force evict for all (or a batch of)  ACL cache entries.

**Why is this needed**:
我们目前业务存在这种使用场景，需要清除多个客户端的缓存，目前需要调用多次api接口，影响效率，同时也增大了失败的可能性
In our use case, we need to evict cache for many clients with one API call for each.
such approach is not efficient and has an increased fai

[2021-02-21 08:02] zmstone commented on #4215
this is a reasonable feature.
to have it delivered quicker, pull requests are welcome.

[2021-02-21 08:03] zmstone commented on #4215
we are here to help even if you have absolute 0 experience in Erlang.

[2021-02-21 08:15] zmstone commented on #3998
Hi @endianjoakim

Thank you for this.
we are picking this up, will get back to you in one/two weeks.

[2021-02-21 09:09] supery-chen commented on #4215
sorry, I've never used Erlang😂

[2021-02-21 10:11] zmstone commented on #4215
@supery-chen totally fine. wanna give it a try ?

[2021-02-22 02:44] yqzhan commented on #4208
I meet the same question, focus

[2021-02-22 06:28] zmstone commented on #4208
we are looking into this.

[2021-02-22 06:39] HJianBo commented on #4208
Hi guys. `ed25519` is not yet supported in erlang. see: https://erlang.org/doc/apps/ssl/standards_compliance.html

[2021-02-22 07:50] yqzhan commented on #4208
thank you, are there some plans to support ed25519?

[2021-02-22 13:24] HJianBo opened #4220 "The delay grows while Mosquitto bridges messages to emqx and stores them to MySQL"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`):  e4.2.3
- Hardware configuration (e.g. `lscpu`): -
- OS (e.g. `cat /etc/os-release`): -
- Kernel (e.g. `uname -a`): -
- Erlang/OTP version (in case you build emqx from source code):
- Others:

**What happened and what you expected to happen**:

WE have EMQx 4.2.3 and it is bridged to Mosquitto server (both on the same server) EMQx subscri

[2021-02-22 13:51] zmstone commented on #4208
Hi. @yqzhan
I'm afraid we do know know the plans for Erlang.
I tried to google it, no luck.

[2021-02-22 13:51] zmstone commented on #4208
Closing this issue as EMQ can not provide help in this.

[2021-02-22 13:51] #4208 closed

[2021-02-23 01:26] HJianBo commented on #3914
Hi guys, these fixes had released v4.3-alpha.1
see: https://github.com/emqx/emqx/pull/4099

[2021-02-23 01:26] #3914 closed

[2021-02-23 01:29] HJianBo commented on #3967
Any updates here?

[2021-02-23 01:32] jimmy0 opened #4223 "When the connections of emqx server up to 524273, the emqtt-bench get error: connect error - timeout"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`): * 4.2.7 permanent
- Hardware configuration (e.g. `lscpu`): 8core16G
- OS (e.g. `cat /etc/os-release`): centos7.9
- Kernel (e.g. `uname -a`): Linux one 3.10.0-1160.11.1.el7.x86_64 #1 SMP Fri Dec 18 16:34:56 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- Erlang/OTP version (in case you build emqx from source code):
- Others:

**What happened and

[2021-02-23 01:34] HJianBo commented on #3727
Fixed https://github.com/emqx/emqx/pull/3962/files

[2021-02-23 01:34] #3727 closed

[2021-02-23 01:45] jimmy0 commented on #4223
And the performance test hosts can't open new shell terminal.
And can't ping.

[2021-02-23 02:00] moziie opened #4224 "Error:[WebHook Action] HTTP request failed with status code: 507 and how to fix this"
create a webhook data to webserver(TDengine server),When I send data to emqx at a rate of 10,000 data per minute, this error occurs and the data insertion fails. so I want to know where is the problem and how to fix it.thx
**environments:**
linux,centos7
cpu:8,RAM:16G
emqx version 4.2.7
**full logs:**
2021-02-22 17:30:55.869 [warning] <<"mymqttrecevice1senderpaho378072473041700">>@192.168.1.2:6083

[2021-02-23 05:40] jimmy0 commented on #4223
I have found the reason.
The aliyun ecs has connections limits.
The ecs of 8c16g can't open connections more than 250k.

[2021-02-23 05:40] #4223 closed

[2021-02-23 07:35] #4145 closed

[2021-02-23 07:37] Rory-Z commented on #3908
This issue has not been updated for a long time, I will close it, if there are any problems, you can open it at any time

[2021-02-23 07:37] #3908 closed

[2021-02-23 08:16] mworrell commented on #3914
Great work, thanks!

[2021-02-23 12:47] eleonora-a opened #4227 "Cannot connect 30 thousand clients to a 3-node cluster"
Environment
EMQX version: 4.2.7
Machines: Infrastructure VM in Microsoft Azure of type Standard  (4 vcpus, 16 GiB memory)
OS: Ubuntu 18.04.5 LTS

We used the default settings in emqx.conf, except the ones for the cluster discovery (static) and the ssl listener as we use client certificate authentication.
No clients connected. Once connected they were disconnected from the broker. The CPU on all no

[2021-02-23 14:51] qzhuyan commented on #4227
Could you please attach screenshoot for following commands while node is under pressure?

`htop`

`free -h`

`vmstat 2`

`sudo slabtop`

[2021-02-24 02:20] terry-xiaoyu opened #4230 "PingReq delay when the subscriber is under a high load"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`): enterprise 4.2.3
- OS (e.g. `cat /etc/os-release`): Linux Ubuntu
- Erlang/OTP version (in case you build emqx from source code): 22.3.0

From Wisam Darwish:

I have client applications using (paho.mqtt.golang) subscribing to EMQx as a shared subscription , and we have devices sending notifications 1msg/sec (LWM2M clients), when the number

[2021-02-24 03:23] 36huo opened #4231 "System Topic - Client Online events payload add client's tcp port"
The Payload of the ‘connected’ event message include client's ip address, but did not have client's tcp souce port.
In dashboard 'client ip' have tcp souce port. It is useful in some case.

[2021-02-24 05:37] zmstone commented on #4231
great idea! Could you help us with a pull request?

[2021-02-24 07:04] terry-xiaoyu opened #4233 "LwM2M plugin should be able to unset the <NOTIFICATION> Class Attributes"
**What would you like to be added/modified**:

From wisam.darwish@erlang-solutions.com:

... another thing related to the unset a value using write-attr command .. it seems EMQx doesn’t handle this case correctly
setting the value of pmax for example to 123 and using the write-attr command again with pmax = null or pmax=“” won’t reset the value.

For example I'd like to uset the `pmin` by sending

[2021-02-24 08:35] hehejiuhuizhe opened #4235 "Why listener.wss.external.max_connections is set to 16 by default?"
In the default config ,the "listener.wss.external.max_connections" is only 16, while "listener.ssl.external.max_connections" is 102400 and "listener.tcp.external.max_connections" is 1024000. Why is the number so small? Can I set it to a big number, like 102400?

[2021-02-24 09:02] tigercl commented on #4235
@hehejiuhuizhe Of course, you can adjust these configuration items according to your own hardware configuration and the number of devices.

[2021-02-24 09:09] tigercl commented on #4209
@M-Keidler-GROB Using a completely random client identifier or a fixed and unique client identifier is the correct implementation. In addition, you can get the client offline notification message by subscribing to the system topic.

[2021-02-24 09:11] zmstone commented on #4203
this is a great idea
we try to be inclusive but our bandwidth is limited.
I'd love to see if someone can help us put together a proposal by providing some inputs such as:
How should Erlang integrate with consul (HTTP?), in case of binary protocol, which are the client candidates
Ideally, we'd love to see a proposal draft here: https://github.com/emqx/eip

[2021-02-24 09:11] terry-xiaoyu commented on #4207
I find that you just want to get the array from the object with key named "datas".

[code]

If that's want you want, and you then want to **do actions for each of the element** in the output array, please checkout the `FOREACH` syntax here: https://docs.emqx.cn/broker/latest/rule/rule-engine.html#sql-语句

[2021-02-24 09:18] zmstone commented on #4231
Hi again.
To clarify.
We love this idea and want and will provide this feature.
But our bandwidth is limited. Sending a PR will speed it up.

We love community engagements,
we are help to help for anyone even with 0 Erlang experience.

[2021-02-24 09:28] tigercl commented on #4224
@moziie 507 is a status code from the HTTP server, it is recommended to start with the HTTP server first to find the reason.

[2021-02-24 09:31] moziie commented on #4224
ok,thanks

[2021-02-24 09:31] #4224 closed

[2021-02-24 09:33] yelang10000 opened #4236 "client Timed out"
Timed out as no activity, keepAlive=20,000 lastOutboundActivity=1,614,156,850,423 lastInboundActivity=1,614,156,830,423

This problem appears randomly！！

[2021-02-24 09:36] zmstone commented on #4235
16 is likely some safe tune-down for edge.
we believe this is not quite reasonable as default.
We will try to find a sweet spot on some common VM setup and update this number.

[2021-02-24 09:46] tigercl commented on #4236
@yelang10000 It seems that it is because KeepAlive has timed out. Does the client send PING packets in time?

[2021-02-25 00:56] hehejiuhuizhe commented on #4235
Thanks for your reply.

[2021-02-25 00:56] #4235 closed

[2021-02-25 02:06] tigercl commented on #4200
@MikaelElkiaer Thank you very much for your feedback. This is indeed an unreasonable implementation. We will fix this issue in subsequent versions. Thanks again for your contribution to our project.

[2021-02-25 04:09] JohnRoesler commented on #4203
I created an eip! Let me know if is sufficient or what further details you need to be included.

[2021-02-25 07:39] FTwOoO opened #4239 "helm install emqx/emqx fail"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`):
- Hardware configuration (e.g. `lscpu`):
- OS (e.g. `cat /etc/os-release`): macmini(M1), minikube with docker dirver
- Kernel (e.g. `uname -a`):
- Erlang/OTP version (in case you build emqx from source code):
- Others:

**What happened and what you expected to happen**:
pod start fail

**How to reproduce it (as minimally and precisely as

[2021-02-25 12:39] #4170 closed

[2021-02-26 09:20] auror opened #4243 "EMQx 4.3-alpha.1 not responding to ping"
Hello Team,

EMQx: 4.3-alpha.1
OS: Mac OSX
Erlang/OTP: 23

The build compiled successfully as shown below
[code]

when starting
[code]

tried setting `WAIT_FOR_ERLANG` to a very high value, but still couldn't complete the ping. But the server seems to be functional. As per logs,
[code]

Tried the ping now,
[code]

Please let us know if you need any information!

Regards

[2021-02-26 09:39] hustdamon opened #4244 "emqx_auth_mysql can not connect azure mysql"
**Issue**:
1.Encrypted connectivity using Transport Layer Security (TLS 1.2) in Azure Database for MySQL
   https://docs.microsoft.com/en-us/azure/mysql/flexible-server/how-to-connect-tls-ssl
2.emqx_auth_mysql  can not connect azure mysql server  (only support TLS 1.2 )

**Environment**:

1. EMQ X version
   emqx-ubuntu18.04-4.2.7-x86_64.deb
2. Hardware configuration (e.g. `lscpu`):
   Architectur

[2021-02-28 09:50] zmstone commented on #4129
https://github.com/emqx/emqx-docs/pull/659

[2021-02-28 10:42] zmstone commented on #4129
I have also updated the medium article:
https://emqx.medium.com/using-lets-encrypt-certificates-in-emq-b11e0e57efa6
With the `cacertfile` config added.

I also added a "Mutual certificate authentication" section with a big NOTE to clarify that intermediate certs for server should be added to `ca.pem`

[2021-02-28 10:43] zmstone commented on #4129
@LennartOlsen Thank you for your suggestions and patient.
Closing this issue now.

[2021-02-28 10:43] #4129 closed

[2021-03-01 06:26] yuantao1880 opened #4251 "[Error] Force to close the socket due to keepalive_timeout"
#### Environment

- OS: Centos7.5
- Erlang/OTP:
- EMQ: emqx 4.2.7

#### Description
emqx Client connected via 127.0.0.1 disappeare frequently by the error as " Force to close the socket due to keepalive_timeout"，i wonder what has going wrong, Thanks!
*A description of the issue*
![image](https://user-images.githubusercontent.com/48791623/109459001-e3c6b400-7a98-11eb-8e8e-af9fe865a661.png)

[2021-03-01 12:02] auror commented on #4243
@tigercl Seems like the env `WITH_EPMD` needs to be set ? It's working with that env var set ! Is it not documented or not expected ?

[2021-03-01 13:19] gbrehmer commented on #2671
@HJianBo
I got the chance to measure some values at higher load. I know that it is a very old version (2.3.10), but maybe you can see something?
[code]
Load:
![image](https://user-images.githubusercontent.com/1201680/109500794-fcce6580-7a96-11eb-828c-becc983e4821.png)

Memory (consumed):
![image](https://user-images.githubusercontent.com/1201680/109501463-e8d73380-7a97-11eb-9bd4-42730f02ae65.png)

[2021-03-01 13:34] zmstone commented on #4243
EMQ X by default does not require EPMD.
It's odd to see the `undef` exception, I am having a look into this.

[2021-03-01 13:36] zmstone commented on #4243
@auror could you check if you have `_build/emqx/rel/emqx/lib/ekka-0.8.0/ebin/ekka_epmd.beam` built ?

[2021-03-01 14:20] auror commented on #4243
@zmstone Yes

[code]

[2021-03-01 15:25] zmstone commented on #4243
Hi @auror

could you add a `set -x` to `./_build/emqx/rel/emqx/bin/emqx_ctl`
then execute `./_build/emqx/rel/emqx/bin/emqx_ctl status` and paste the output here?

NOTE: there could be sensitive information in the output. such as user name and Erlang cookie.

BTW, `ping` is not a `emqx_ctl` command, you can try `./_build/emqx/rel/emqx/bin/emqx ping` see if it responds with `pong`

[2021-03-01 15:40] auror commented on #4243
@zmstone Tried as you have asked
[code]

Also, for `emqx` ping

[code]

[2021-03-01 15:48] zmstone commented on #4243
in my environment, if I delete ekka_epmd.beam, I get the same error:
[code]
so I suspect it's something wrong with the beam loading path.
judging by the `/Users` path prefix, @auror you are using macos ?

also aeee56db does not seem to be a commit in my git tree.
do you have some local changes ?

[2021-03-01 16:41] auror commented on #4243
@zmstone Yes. It's MacOs Catalina(10.15.7)

Yes. I do have some local changes. I tried to debug by adding logs in the code. But, I've observed this on `4.3-alpha.1` tag(commit `a3206f5e0bfb8479d33cce082dba4ca8f834c318`)

Reference:
[code]

Regards

[2021-03-01 17:02] auror commented on #4243
@zmstone Curious to know why it's working with `WITH_EPMD` env var set. Please correct me if I'm wrong, but afaik, the beams loaded for both are same and the same `undef` error should be reproduced ? 🤔

[2021-03-01 17:56] zmstone commented on #4243
EPMD is shipped with Erlang/OTP.
When `WITH_EPMD` is set, `nodetool` and `emqx` do not require extra load path.
When it's not set, the commands will try to use `ekka_epmd` which is developed by EMQ.
`ekka` is shipped in the build, but I haven't figured out why it's not loaded in your case.

I have just tested it in macos it seems to work just fine.

Do you happen to have any special character in y

[2021-03-01 19:07] auror commented on #4243
Hey @zmstone, my username consists of just small alphabets. But, i've tried on `/tmp` dir to verify and it has worked well !!
[code]

Strange !

[2021-03-02 03:32] auror commented on #4243
@zmstone I've just tried on CentOS7 and it works fine there too. Not sure what's different on a`/Users` path on mac. How can we debug this further ?

[2021-03-02 05:57] qzhuyan commented on #2671
@gbrehmer  Thanks for you info.
From what I can tell is system is overloaded due to CPU saturation (Load short term > 2 and runqueue > number of cores x 10 ).  We would like to see the distribution of CPU usage of %user, %sys, %si.

Do you have `sar` (sysstat) installed on your host system?

What monitoring tool do you use?

We might need to look into historical data to get better understanding.

[2021-03-02 06:33] zmstone commented on #4243
My colleague managed to reproduce it.
We are going to dig deeper today.

it turns out to be more interesting to learn why it magically worked without giving any path to load extra beam in the first place

[2021-03-02 06:41] auror commented on #4243
@zmstone Perfect. Cool 🖖

[2021-03-02 07:28] zmstone commented on #4243
might be related to OTP version.
Could you try it on Erlang/OTP 23.2.2 or newer.

[2021-03-02 07:52] Rory-Z commented on #4200
Hi, @MikaelElkiaer Sorry for delay

This is inconsistent with my test results, I created the following rewrite rule
[code]
 and I created the following acl rule
[code]
and I subscribe `test` topic, and I'm failed.

This shows that our acl check is performed before rewriting, not after rewriting, this is consistent with publish behavior

[2021-03-02 08:57] zmstone commented on #4243
this is odd. I can't reproduce it on otp 23.1 ;)
[code]

[2021-03-02 09:40] auror commented on #4243
Hi @zmstone , we're using Erlang/OTP `23.2.5`

[2021-03-02 09:51] zmstone commented on #4243
@auror is your Erlang installed from brew ?

Anyways, we seem to have a fix for it --- although the reason is still unknown

[2021-03-02 10:20] zmstone commented on #4243
@auror could you pull my changes in PR #4262 to help verify if it fixes your issue ?

[2021-03-02 10:55] #4243 closed

[2021-03-02 11:01] zmstone commented on #4243
oops, this is merged way too fast.
@turtleDeng you may have too strong faith in me. :)

[2021-03-02 11:03] auror commented on #4243
@zmstone Yes. Installed from `brew`. I'm checking and will get back to you

[2021-03-02 11:35] auror commented on #4243
@zmstone Yep. EMQx's starting now 🖖

[2021-03-02 13:14] zmstone commented on #4243
@auror thank you for your patience.
I am not sure if it worth spending time to figure out what exactly went wrong with brew installed Erlang.
So I am going to let this go.

Deeper investigation is always welcome though.

[2021-03-02 18:46] MikaelElkiaer commented on #4200
Could the behaviour be different for HTTP ACL? Because that is the one I'm using, where I am seeing the behaviour I described.

[2021-03-03 01:45] Rory-Z commented on #4200
@MikaelElkiaer Okay, I will test http acl later

[2021-03-03 02:19] RoutineZ opened #4273 "windows restart"
**Please describe your problem in detail, if necessary, you can upload the log file through the attachment**:
EMQx: 4.2.7
OS: windows10

Everytime I restart my pc, I need to run the commond "emqx start" or "emqx console", then the Broker works well.

If I run "emqx_ctl status" first ,then it gives the report bellows:
=INFO REPORT==== 3-Mar-2021::09:18:01.972000 ===
Protocol 'inet_tcp': register/li

[2021-03-03 11:00] gbrehmer commented on #2671
The measured etop values comes from the high load period. Because broker is not responding in any case, there are many reconnect requests incomming (flapping connections). So probably this is not(!) the cause of the problem, only a subsequent error. I will have a look into the crash logs next time but I think there were only just a few default errors which also occur during normal load time period

[2021-03-03 11:21] gbrehmer commented on #2671
in the last 12 months, this error occurs every 1-2 months. last week we switched from ubuntu 16.04 to docker container on a debian host. and we downsized the nodes from 4x cpu and 8 GB RAM to 2x CPU and 4 GB RAM (because under normal conditions, the system has a lot of free resources). Now the problem occurs almost every day. We switched back to 4x CPU and 8 GB RAM per node today. We will see if t

[2021-03-03 20:33] qzhuyan commented on #2671
@gbrehmer Nice to see you have historical CPU data, can you also take a screenshoot on all CPU metrics? I would like to check if it is the massive context-switching makes the CPU not fully utilised.

I also have a question about your comment:
https://github.com/emqx/emqx/issues/2671#issuecomment-512745058, was the node running with 8GB ram?

Can you describe the procedure for how do you 'delete mn

[2021-03-03 21:02] gbrehmer commented on #2671
Thanks for helping us!

Here are the full cpu numbers
Node 1:
![image](https://user-images.githubusercontent.com/1201680/109870575-900bc480-7c6a-11eb-81c3-98fbad8710a0.png)

Node 2:
![image](https://user-images.githubusercontent.com/1201680/109870465-6b175180-7c6a-11eb-868f-b2a95fac0389.png)

yes at ticket creation time and until last week, both nodes had 8 GB RAM and 4 CPUs.

Previously (at ticke

[2021-03-04 13:55] eleonora-a commented on #4227
The initial connection rate is 30K. Here is the output of the commands:

htop
![htop](https://user-images.githubusercontent.com/79517084/109973348-f6432680-7d00-11eb-9e18-39c44d799c05.png)

free -h
![free](https://user-images.githubusercontent.com/79517084/109973345-f5aa9000-7d00-11eb-98c3-4cce73423a47.png)

vmstat 2
![vmstat](https://user-images.githubusercontent.com/79517084/109973353-f7745380-7

[2021-03-04 17:33] gbrehmer commented on #2671
A new incident occurs after we restarted one of the loadbalancer/proxy which produces reconnects from 1500 clients in a short timeframe.

mnesia stats node1:

[code]

mnesia stats node2:

[code]

Load: LB reboot was at 15:35, first errors in logfile occur at 15:47 (mnesia conflict see above, from 15:51 a lot of connection errors)
![image](https://user-images.githubusercontent.com/1201680/109999482

[2021-03-04 21:42] qzhuyan commented on #2671
@gbrehmer thanks for your info, looks like the client's connection retries (with the same client-id) hit both nodes in a short window that causes conflicts on both nodes. and also due to the CPU saturation, parallel transactions are running very slow thus slow to release the write locks.

There are three workarounds (without code change) in my mind,
1. If your clients are manageable, please consid

[2021-03-04 23:06] gbrehmer commented on #2671
currently we use these settings (we only using external non ssl ports).

[code]

[2021-03-05 14:12] qzhuyan commented on #2671
@gbrehmer I have prepared a quick fix branch for you to inc the size of the worker pool.

https://github.com/qzhuyan/emqx/commit/8450f1dac164830f9fe6b0b799d7a0202b3c414b
let me know if you are interested to test this monkey patch.

[2021-03-05 14:43] gbrehmer commented on #2671
Thank you very cool, unfortunately we are still on an old version (2.3.10) because version 3.x and 4.x are currently not usable for us due to another issue (https://github.com/emqx/emqx/issues/2985), because our clients are using wildcard subscriptions with a few topic levels.
We are currently already using a fork because we needed a patched emq-auth-http version. So probably we can add this lines

[2021-03-05 15:00] qzhuyan commented on #2671
@gbrehmer Good to know you have your own fork.  my patch is based on tag v2.3.10.

[2021-03-05 15:29] gbrehmer commented on #2671
ah I didn't realized that 🆒

[2021-03-06 08:22] wwhai commented on #4273
Tcp `econnrefused `, may be your port is in useing?

[2021-03-06 08:28] #4198 closed

[2021-03-06 08:28] #4199 closed

[2021-03-06 08:28] #4157 closed

[2021-03-06 09:28] KrYpToDeN commented on #4033
Hello, @HJianBo

Thank you for your answer, we tried use it with emqx_auth_username.
As with mysql_auth we can't auth if we use:
`listener.ssl.external.peer_cert_as_username = cn`
and we don't use password.

If we set some password in MQTT client and set the same password in plugin -> it's work good.
But, we also can auth without ssl (certs), using only our username (common_name) and our password.

[2021-03-06 13:28] joko2020 commented on #3019
same as me no error in page just white blank screen if I use https://domain.name:18084, but if I put https://domain.name:18084/#/login the login page appear but cannot login with "network error"

[2021-03-08 01:06] wwhai commented on #4244
## Try floowing:
Reason: This error occurs when the user is trying to add a SSL-supported monitor(i.e --require_secure_transport option enabled) as a non-SSL monitor in Applications Manager.

Solution: To overcome this issue follow the steps given below:
Execute the following query in the corresponding mysql shell script:
ALTER USER '<user>'@'<host/Ip-address>' REQUIRE <tls_option>; [ tls_option:

[2021-03-08 01:07] tigercl commented on #4251
@yuantao1880 It seems that your client did not send `PINGREQ` packets in time.

[2021-03-08 01:33] Rory-Z commented on #4239
Hi, @FTwOoO
Sorry, we haven't tested it on M1 devices. We suggest you use kubeadm to create k8s and test it on Linux

[2021-03-08 13:17] gbrehmer commented on #2671
The version with increased worker pool is in production since friday evening. During/after first deployment we had the same problems than before. To change something else I updated the Alpine version from 3.7 to 3.8 (and erlang from 20.1 to 20.3). Probably the first deployment after the change does not reflect the changes directly or deployment was not fine at all (clearing mnesia). We use now sti

[2021-03-08 13:58] qzhuyan commented on #2671
@gbrehmer thanks for your updates. I assume you are using 4 cores right?

Do you have a chart of "MQTT connects/5 mins" for with/without the stickiness? what is the source of the metrics?

For stickiness, is it TCP stickiness that should be based on the src IP and src Port pair unless the client changes the src port while reconnects?

I found you mentioned
[code]

For TCP, I think the number of ac

[2021-03-09 01:52] #4148 closed

[2021-03-09 01:54] HJianBo commented on #4076
@JaylinYu We have fixed and released it to 4.3-beta.1

[2021-03-09 01:54] #4076 closed

[2021-03-09 01:55] HJianBo commented on #3868
Hi @panzhao163 We have released this fix into 4.3-beta.1 Thanks for your feedback

[2021-03-09 01:55] #3868 closed

[2021-03-09 01:56] HJianBo commented on #4135
This issue has been fixed and released into 4.3-beta.1

[2021-03-09 01:56] #4135 closed

[2021-03-09 02:03] HJianBo commented on #4013
Hi guys, this feature has introduced into 4.3-beta.1.

In 4.3, you can replace the certificate file and restart the listener to reload it. i.e:
[code]

BTW, in 4.3, this command only works on MQTT listeners. For other types of listeners, you can restart the plugin for this purpose.

Thanks for @bgrosse-midokura contributions 👍

[2021-03-09 02:03] #4013 closed

[2021-03-09 02:05] #4143 closed

[2021-03-09 02:41] wwhai commented on #4156
Have your configure your redis in sentinel mode?

[2021-03-09 02:44] HJianBo commented on #4033
yes, you are right. There is an option `.bypass_auth_plugins` to skip authentication steps. This option is configurable in the zone only, so you need to create a new configuration zone to put it.
[code]

In 4.3, this is only a temporary solution. I converted your requirement to another feature request issue, and we will discuss there if we need to add a new feature

[2021-03-09 02:55] HJianBo opened #4305 "two way SSL should work without password on the right"
**What would you like to be added/modified**:

This request was first mentioned @KrYpToDeN on https://github.com/emqx/emqx/issues/4033#issuecomment-791902122

If a client connects to emqx using two-way SSL, it does not need to provide fields such as username or password to request additional authorization.

In the current,  we have to turn on `allow_anonymous` or configure a fixed username and pas

[2021-03-09 03:36] 983674707 commented on #4156
yes @wwhai

[2021-03-09 05:35] wwhai commented on #4156
` {sentinel_error, sentinel_unreachable}` means your redis host can't access from network or port unreach. Have you test sentinel mode use other tools like `redis_cli`?

[2021-03-10 10:08] jimmy0 opened #4311 "emqtt-bench test load balance get half of messages"
#### Environment

- OS: Centos 7.9
- Erlang/OTP:
- EMQ:  4.2.7

#### Description

*A description of the issue*

The load balance's ip is 192.168.0.105, and has 2 emqx servers.
subscribe to loadbance:  /root/a/emqtt-bench/emqtt_bench sub -t t -h 192.168.0.105 -c 50 --ifaddr 192.168.1.171
print out:
recv(7001): total=1700, rate=1250(msg/sec)
recv(8001): total=2950, rate=1250(msg/sec)
recv(9001): tot

[2021-03-10 17:50] zmstone commented on #4305
Does this imply we need is a new config like `allow_anonymous_when_mutual_tls_authenticated` ?

[2021-03-10 21:38] qzhuyan commented on #4227
Can you share the etc/emqx.conf ?

Would be interested to know what is the settings for rate limit.
such as:
[code]

Can you check some logs? is there anything strange in alarm and crash log?

[2021-03-11 00:52] tigercl commented on #4311
@jimmy0 Do these two EMQ X Brokers form a cluster correctly?

[2021-03-11 00:58] jimmy0 commented on #4311
@tigercl the load balance bought from aliyun.

[2021-03-11 00:58] jimmy0 commented on #4311
@tigercl  yes. I have done a connection test to the cluster successfully.

[2021-03-11 06:09] tigercl commented on #4311
@jimmy0 Does the cluster work normally when you are not using load balancing?

[2021-03-11 06:14] jimmy0 commented on #4311
@tigercl yes. When I test the emqx server directly using emqtt-bench, the subscribe print correctly , 2500(msg/sec)

[2021-03-11 06:38] HJianBo commented on #4305
Yeah, I think so.

[2021-03-11 10:37] yanggao025 opened #4315 "Fail to start emqx extension module"
多语言扩展钩子  模块启动失败  扩展语言是Java服务~  有没有大佬遇到同样的问题  烦请指点一二  小弟感激不尽

[2021-03-11 14:27] joko2020 commented on #2306
You mean I should do `sudo chmod` for directory path of CA file ? , if Yes What mode you use?, because I check on /etc/letsencrypt/live/mydomain it just symbolic link with access mode lrwxrwxrwx

[2021-03-11 14:59] eleonora-a commented on #4227
Here is the config file.
[emqx.conf.zip](https://github.com/emqx/emqx/files/6123833/emqx.conf.zip)
From the original file we have changed the cluster settings, log.level (currently set to info), enabled wildcard_subscription and shared_subscription, zone.external.idle_timeout (70s), listener.ssl.external.max_conn_rate (100), and listener.ssl.external.handshake_timeout (60s).

We are using SSL, so

[2021-03-11 20:16] brunohorta82 commented on #3057
I Have the same issue, anyone already solved?

[2021-03-11 20:23] zmstone commented on #3057
Hi. @brunohorta82 which EMQ X version is it in your case ?

[2021-03-11 20:24] brunohorta82 commented on #3057
4.2.8

[2021-03-11 20:26] zmstone commented on #3057
@brunohorta82 could you export some of the sample rows in csv format ?

[2021-03-11 20:28] brunohorta82 commented on #3057
Sure:
My acl.conf

{allow, {user, "dashboard"}, subscribe, ["$SYS/#"]}.

{allow, {ipaddr, "127.0.0.1"}, pubsub, ["$SYS/#", "#"]}.

{deny, all, subscribe, ["$SYS/#", {eq, "#"}]}.

{deny, all}.

and mqtt_acl table

id,allow,"ipaddr","username","clientid",access,"topic"
2,1,NULL,NULL,NULL,1,"/smarthome/%c/temperature"

[2021-03-12 00:32] jovdipp commented on #3057
Hi @brunohorta82
Thanks for the info, I'm looking into this.

[2021-03-12 01:35] tigercl commented on #4315
@yanggao025 Could you provide some logs about the failure？So that we can analyze the issue more accurately.

[2021-03-12 01:36] #4251 closed

[2021-03-12 01:38] HJianBo commented on #4315
Have you tried v4.3-beta.1?

In the v4.3-beta.1 We have enhanced the implementation of the extension hook.

[2021-03-12 01:42] tigercl commented on #4311
@jimmy0 Can you provide details about the configuration of LB？

[2021-03-12 01:45] #4209 closed

[2021-03-12 02:22] yanggao025 commented on #4315
失败日志： #{channel => "exhook:module:c865202c"}},6000]}
2021-03-11 19:32:50.397 [error] [ExHook] Load server <<"module:c865202c">> failed: timeout

[2021-03-12 09:11] HJianBo commented on #4315
Is the server address it is configured to access?

[2021-03-12 10:48] lko-di opened #4321 "Package Installation on Debian Buster fails due to Hash Sum Mismatch"
**Environment**:

- OS:

PRETTY_NAME="Debian GNU/Linux 10 (buster)"
NAME="Debian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.org/support"
BUG_REPORT_URL="https://bugs.debian.org/"

**What happened and what you expected to happen**:

Performing an installation according to the the guide [Ubuntu

[2021-03-14 20:52] sh3d2 commented on #4215
hi,

i'd like to use that feature too, so im gonna give it a go at implementing it (with my next to none erlang experience).

first question:
why was process dictionary used as cache storage instead of ets?

not that it makes a difference, 5min ago i didnt know process dictionary existed.

@zmstone any pointers on how to develop emqx plugins locally without having to compilet the whole emqx-rel af

[2021-03-14 21:20] zmstone commented on #4215
I'm afraid I need @HJianBo to help answering the question why process dictionary is used.
Because if I were to implement it, I'd have chose ETS (with a cleaner process).

WRT plugin development, I'd recommend basing on the latest master branch. (currently 4.3-beta.1)
More details here : https://github.com/emqx/emqx/blob/master/lib-extra/README.md

Otherwise, in `emqx-rel` project, you can use reba

[2021-03-14 21:57] sh3d2 commented on #4215
ok, one more question. im just trying to understand the way acl cache works:

https://github.com/emqx/emqx/blob/master/src/emqx_access_control.erl#L53

[code]

i do not see how client info is included in the cache. does that mean that cache item isnt tied to a "clientid" in any way? is this a bug, or im simply missing something

[2021-03-15 02:15] jiangyin97 opened #4326 "Could emqx_prometheu provide node status metrics?"
![image](https://user-images.githubusercontent.com/80656989/111094888-2e572e80-8577-11eb-9192-00b8566dd39a.png)

There are no metrics about emqx running state, such as emqx_node_status.

[2021-03-15 07:12] gbrehmer commented on #2671
We changed the following things:
- listener tcp / ws acceptor: both to 2 (We need the ws port due to proxy/firewall restrictions at some customers)
- patched emq 2.3.10
- increased cpu ressources: now both nodes have 8 CPU & 8 GB RAM

Today a site-to-site vpn/service crashed and after that 1500 devices try to reconnect. Both emq nodes were gone in error state like before (steady load 8.0 both). We

[2021-03-15 07:19] gbrehmer commented on #2671
we use haproxy for loadbalancing and changed the balance type from "roundrobin" to "source". It should use the source ip for that. Probably we can use a custom sticky haproxy table to combine ip and source port

[2021-03-15 08:47] qzhuyan commented on #2671
FYI,  I draft an EIP here https://github.com/emqx/eip/pull/26 for this issue.

[2021-03-15 12:26] HJianBo commented on #4215
Hi @zmstone The original design took into account the following things:
1. a faster process dictionary.
2. No additional management code is needed. When a process exits, the cache disappears at the same time.
We have to store ACL cache for each client. This makes it faster to execute publish/subscribe each time.

So, we put this cache in the process dictionary of each process.

I think the use of

[2021-03-15 13:15] zmstone commented on #4215
Thank you @HJianBo .
Now I understand why it was PD used.
I believe ETS can be another layer of cache for remotely resided ACL rules such as mysql, postgres etc. However that's a different story.

@sh3d2 to answer your question

If you are looking at 4.x code, I believe for each MQTT client, there is only one process (the connection process) which concerns ACL cache.

[2021-03-15 13:33] zmstone commented on #4215
For the force eviction, I suppose we should avoid a design by enumerating on all clients and send them a message?

We should perhaps create a really cheap-to-check flag such as [persistent_term](https://erlang.org/doc/man/persistent_term.html),
which can be set globally and read by client processes so they can discard cache immediately.

e.g. to set the flag: `emqx_acl_cache:set_force_eviction(erl

[2021-03-15 15:18] zmstone commented on #4215
Yes. But we can make a `cluster_call` to set the same flag to all nodes in the cluster.
The timing will be slightly different on different nodes, but should not be a big problem, I suppose.

[2021-03-15 21:46] sh3d2 commented on #4215
above pr is just the basics now, as im dealing with concepts in erlang im learning on the fly. any feedback will be much appreciated.

My idea of further work on this is to:
* add rest/cli to issue a acl discard request.
* send it to all nodes as `persistent_term` already read from above pr.

Is keeping current state of the `discard key` inside process dict a good idea, or is there a better way?

[2021-03-15 23:08] Ashtonian commented on #4227
I am having similar issues 3 node cluster with kernel tweaks running on docker. Running on 3 x m5.xlarges. Using emqtt_bench on 2 m5.larges - I start having problems around 36k and get `client(10237): EXIT for {shutdown,tcp_closed}`. Seems like the server starts rejecting connections over 12k.

[code]

[2021-03-16 01:48] Rory-Z commented on #4200
Hi, @MikaelElkiaer Sorry for delay

This is a bug, we will fix this on next version

[2021-03-16 03:32] tigercl commented on #4326
@jiangyin97 There should be no at present, please tell us what kind of node status you need? For example, is the node running or something else? Maybe we implement it in the future.

[2021-03-16 04:04] jiangyin97 commented on #4326
Such as node health, died or running. At present, I can not judge whether the node is running normally from metrics.

[2021-03-16 06:47] #3055 closed

[2021-03-16 06:51] moziie opened #4336 "WebHook Action error and how to fix"
emqx version:4.2.0，linux centos7，8core 16G ARM，5M bandwidth
使用emqx的规则引擎webhook向TDengine插入数据，但是出现数据丢失现象，日志如下；请问出现连接错误的情况是什么原因，如何排查修改呢
2021-03-11 09:35:13.250 [error] <<"202009280006">>@117.132.198.130:29950 [WebHook Action] HTTP request error: {failed_connect,
                                      [{to_address,{"49.232.47.96",6041}},
                                       {inet,[inet],timeout}]}
20

[2021-03-16 07:11] trdmm opened #4337 "Activate emqx_auth_mnesia plugin can not delete user!"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`): docker  emqx/emqx:4.2.8
- OS (e.g. `cat /etc/os-release`): Ubuntu20.04
- Kernel (e.g. `uname -a`): 5.4.0-65-generic

**What happened and what you expected to happen**:
When I delete user "xxb",it return cli command help
[code]

[2021-03-16 09:01] zmstone commented on #4326
We can provide metrics about node being UP (but not down).
e.g. we can add a `node_up` metric which provides a UNIX epoch as value in each scrape.

However, I'm not sure if it makes much sense because there are other indicators of
node being up/down, e.g. prometheus can scrape, the node is up, if it failed to do so, that's probably an indicator of node being down.
and prometheus has builtin metics

[2021-03-16 09:34] 2605373904 opened #4342 "When the connection volume of EMQ x broker is large, the client connection protocol type will change from mqtt v3.1.1 to mqisdp v3"
**Environment**:
- EMQ X version: 4.1.0
- CentOS7

Problem description：
When the connection volume of EMQ X Broker is large, the client connection protocol type will change from mqtt v3.1.1 to mqisdp v3
Can the change of client protocol type to mqisdp V3 be interpreted as the change of client protocol from mqtt 3.1.1 to version 3.1？

[2021-03-16 09:42] jiangyin97 commented on #4326
I'm sorry. Maybe I made a mistake. I hope you can provide the running status of emqx, not the server node.

Emqx uses pushgateway to push monitoring data. When emqx dies, the prometheus will not get any indicators of emqx, so that we can not monitor the death of emqx application.

[2021-03-16 09:46] tigercl commented on #4336
@moziie It seems that the connection to the WebHook server has timed out. It is recommended to check the network status.

[2021-03-16 09:48] tigercl commented on #4342
@2605373904 Sorry, I didn’t understand the purpose of doing this. Can you describe it in detail?

[2021-03-16 10:00] Rory-Z commented on #4337
Hi, @trdmm
This is our prompt error, please use the `mqtt-user delete <Login>` to remove user

[2021-03-16 10:04] gbrehmer commented on #2671
Here are new insights from our devices:

general settings for most devices (some newer firmware has exponential backoff implemented but most are old ones):
- 20s sleep time between connection attempts
- 20s keep alive check
- no connectTimeout set (paho c lib)
- username / clientid is fixed (only changed if device is manually re-paired)
    - we are using emq-auth-http plugin

different device rea

[2021-03-16 10:14] gbrehmer commented on #2671
We are currently not using any rate limiting, because I think those features are only added to 3.x or 4.x (like the connection rate limiting).

[2021-03-16 10:23] realyan opened #4344 "connection is "Terminated due to {shutdown,tcp_closed}",but next Non-normal connection ,Not certified,can reponse hearbeat"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`): 4.2.2
- Hardware configuration (e.g. `lscpu`):
- Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                2
On-line CPU(s) list:   0,1
Thread(s) per core:    1
Core(s) per socket:    1
Socket(s):             2
NUMA node(s):          1
Vendor ID:             GenuineInte

[2021-03-16 10:32] zmstone commented on #4326
Sorry I was not ware that we use pushgateway. (still a lot to learn about our own product :).

Is it the case that pushgateway caches the last data points and continue serving the data ?
As a short term solution, is it possible to configure pushgateway with a TTL ?

As a long term solution, I think we need a native scraping endpoint for prometheus, as a plugin.

[2021-03-16 10:53] jiangyin97 commented on #4326
I think rabbit-prometheus, the plug-in of rabbitmq, is very good. Can it be used as a reference?

[2021-03-16 11:05] zmstone commented on #4326
We'll have a look.

If you (or anyone else) is interested in taking a deeper dive, please send a EIP to us.
https://github.com/emqx/eip

[2021-03-16 12:17] zmstone commented on #4326
Hi @jiangyin97
I believe emqx already supports prometheus scraping.

`curl -f "admin:public@127.0.0.1:8081/api/v4/emqx_prometheus?type=prometheus"`
this command gives me outputs like this:
[code]

[2021-03-16 12:34] gbrehmer commented on #2671
which value is feasible for mqtt connection timeout? 5s? 10s?

[2021-03-16 16:13] zmstone commented on #4326
closing this for now.

[2021-03-16 16:13] #4326 closed

[2021-03-17 02:30] realyan commented on #4344
@tigercl ,First of all, thank you very much for your help

Here's how it works: The first time the connection is normal, it passes login verification,
but when the EMQX broker recognizes the connection is broken, the client device MQTT application layer fails to recognize the connection is broken,
and the client network module bottom performs TCP reconnection and continues to send messages to EMQX

[2021-03-17 07:21] 2605373904 commented on #4342
Sorry, my English is not very good!
Our company is using EMQ x broker products and has encountered a problem
Problem phenomenon：
    In the process of using EMQ x broker, we find that when the number of clients connecting to EMQ increases, we can view the connection information of this client in the EMQ dashboard page. The connection protocol of this client shown in the dashboard page is mqisdp v3

[2021-03-17 08:00] tigercl commented on #4342
@2605373904 We should have never done such a treatment. If this phenomenon is indeed the case, then it should be a BUG. Can you confirm that the client whose protocol version is v3 shows that the protocol version is v3.1.1 before the number of connections increases?

[2021-03-17 08:21] 2605373904 commented on #4342
I can confirm that
    I have done a lot of tests. When the connection volume is large, the client connection protocol will change from mqtt v3.1.1 to mqisdp v3
    When the QPS of EMQ x broker is very small, the connection protocol used by new clients to connect to EMQ x broker is mqtt v3.1.1.
    When the QPS of EMQ x broker is large, the new client uses mqisdp V3 to connect with EMQ x broker.

[2021-03-17 08:48] 2605373904 commented on #4342
Problem recurrence steps:
testing environment:
    1.operating system:centos7
    2.EMQ X version: Enterprise 4.1.0
    3.snapshoot server:It is used to receive and store client information, and it is also a client user subscribing to client information
    4.air conditioner:Internet of things devices
After the snapshot server connects to the EMQ x broker as a client, it uses the pressure test too

[2021-03-17 08:57] qzhuyan commented on #2671
Both are fine.

Thanks for your info about your clients' insight.

From my understanding, after you lower the number of TCP acceptors, the reconnection storm cannot hurt the emqx node because I see "Resource temporarily unavailable" .  That is good since we want the clients to get on the board in a controlled way.  But it seems the client can still get on the bus from websocket, which is new to me

[2021-03-17 09:21] lanling233 opened #4356 "Node 'emqx1@127.0.0.1' not responding to pings."
能正常启动与访问，但运行 emqx stop 命令报错
求原因和解决方法

[2021-03-17 11:21] gbrehmer commented on #2671
For TCP/mqtt we are using HAProxy TCP Check only
For WS we are using HTTP API status endpoint (haproxy checks 200 OK)

This result is only coming in a short timeframe during cluster startup (30s), after that, this error does not occur anymore, so all clients are able to connect. And like the logfiles shows, errors occur always after connection is already established/connect packet acked.

Do you r

[2021-03-17 12:31] lko-di commented on #4321
Hey,

the installation works again.

Thank you!

[2021-03-17 12:31] #4321 closed

[2021-03-17 13:01] Rory-Z commented on #4321
@lko-di
thank you for your feedback and let us fix it in time

[2021-03-17 15:13] qzhuyan commented on #2671
@gbrehmer can you share the latest log?

Can you check if  `clean_session` field set to true in mqtt connect packet?

The way that clients trying different transport of mqtt can mess up the internal states of emqx.

[2021-03-17 15:49] pascaldekloe opened #4360 "Broker Disconnect After CONNECT Request"
**Environment**:

Docker image emqx/emqx:4.2.5.

**What happened and what you expected to happen**:

The broker closes the connection after receiving a CONNECT request during startup shortly.
The broker must respond to incoming CONNECT requests when listening on a TCP port.

**How to reproduce it (as minimally and precisely as possible)**:

(1) Download client from https://gobinaries.com/pascaldek

[2021-03-17 15:52] gbrehmer commented on #2671
Ich will send you the latest log files. And yes `clean_session` is always set to true for all device clients. Only the backend services uses `clean_session=false`

[2021-03-17 16:21] gbrehmer commented on #2671
@qzhuyan
btw nice insights so far. Of course we will change the device behavior in the future but can not change the behavior in the past. So if it is possible to find a patch for those "mess up of internal states" it would be really great :)

[2021-03-17 19:32] qzhuyan commented on #2671
@gbrehmer can you check what is the value of "mqtt.pubsub.pool_size"?

from your client's log, I guess you need to bump that number to 64 or 128 for a 8-cores node.

[2021-03-18 01:12] #4342 closed

[2021-03-18 01:15] tigercl commented on #4360
@pascaldekloe Can you provide the emqx log, it is usually `.../emqx/log/emqx.log.*`. Or you can try another client, such as [mqttx](https://mqttx.app) and [emqtt](https://github.com/emqx/emqtt/tree/v1.2.3).

[2021-03-18 01:16] tigercl commented on #4356
@lanling233 If possible, you'd better provide some emqx logs so that we can better analyze the problem.

[2021-03-18 03:04] pascaldekloe commented on #4360
The issue is not about the client. I have given you a full analysis + steps to reproduce.

[2021-03-18 05:44] zmstone commented on #4342
Hi @2605373904 I’m glad you sorted this out.
This is a very interesting case study.

We recommend you to use the latest (enterprise) version 4.1 series, which is 4.1.2.
Or even better: 4.2

If you identify any issues during the test, you are welcome to create issues here.
If you have questions, the better place to ask is in gitgub discussions: https://github.com/emqx/emqx/discussions

[2021-03-18 05:55] qzhuyan commented on #4360
@pascaldekloe  could you provide source code of mqttc?

[2021-03-18 06:11] zmstone commented on #4360
Hi.
@pascaldekloe
First of all thank you for the detailed steps.

We are not blaming the client, this is such a basic scenario, sometimes it's a lot easier to understand what went wrong if you happen to have tried other clients to compare the behaviour on both client/server side.

And I find your comment a bit harsh, not to mention it's a random bash script you are asking us to download and run.

[2021-03-18 06:11] zmstone commented on #4360
@qzhuyan it's a bash

[2021-03-18 06:21] zmstone commented on #4360
this? https://github.com/pascaldekloe/mqtt
I'd happy to try it out.

[2021-03-18 06:36] zmstone commented on #4360
I failed.  It does not seem to be allowed to create an issue in your repo: https://github.com/pascaldekloe/mqtt
@pascaldekloe

[code]
runtime: mlock of signal stack failed: 12
runtime: increase the mlock limit (ulimit -l) or
runtime: update your kernel to 5.3.15+, 5.4.2+, or 5.5+
fatal error: mlock failed

runtime stack:
runtime.throw(0xa3b43e, 0xc)
        /usr/local/go/src/runtime/panic.go:1112

[2021-03-18 06:54] Hyvi commented on #3755
Q1 will be end,  the feature has been supported ?

[2021-03-18 07:21] KrYpToDeN commented on #4305
Hello, guys.
@zmstone , @HJianBo , @tigercl , @wivwiv , @emqplus

Tell me, please, could you release it?
should we expect an update?

[2021-03-18 08:33] gbrehmer commented on #2671
We applied the increased `mqtt.pubsub.pool_size` with 64 (before: default = 8). During redeployment we had the known issues. Probably our redeployment process is not ideal:

Before deployment:
- both nodes running old settings

Deployment order:

1. redeploy new docker image with new settings to node 1 = all folders are empty = initial state (I assume node 2 with filled mnesia will be a little bit

[2021-03-18 08:58] gbrehmer commented on #2671
I have to update the current status:
- node 2 starts a restart/crash loop some minutes after clean restart mentioned in the previous post. I will send you the crash.dump and logfiles.
- a clean redeployment of node 2 seems to fixed the problem, but I have to check the next 30minutes whether the restart/crash loop comes back

Probably the setting change is the cause for the crash loop or any other

[2021-03-18 09:24] qzhuyan commented on #2671
@gbrehmer thanks for the update, yes logs are always appreciated.

I am still trying to understand your client logs.

Since you have haproxy in the middle, is haproxy configured to kill the idle TCP connection?  timeout like 10s?

[2021-03-18 09:58] gbrehmer commented on #2671
Yes HAProxy will close all connections with no traffic after 60s (keepalive on client side is 20s),
Our haproxy settings (for websocket timeout-tunnel is used):

[code]

[2021-03-18 12:22] pascaldekloe commented on #4360
Seems like your Go runtime doesn't like the OS it's on. 😬 You need [Go](https://golang.org/dl/) version 1.16 for this project though.

What I'm trying to say is that the client of choice doesn't matter. It's just a plain connection close after the intial CONNECT packet. You can even use netcat to reproduce.

[code]

<img width="1009" alt="Screenshot 2021-03-18 at 13 18 33" src="https://user-images

[2021-03-18 12:33] pascaldekloe commented on #4360
To be clear: this issue exists only for a second or two during startup. Once the daemon is fully started, things are fine. Also, EMQ X is [not the only one](https://github.com/pascaldekloe/mqtt/wiki/Brokers) with this boot problem.

[2021-03-18 12:51] zmstone commented on #4360
Maybe allow the service to start successfully ?

i.e. Wait for `EMQ X Broker 4.2.5 is started successfully!` log ?

[2021-03-18 13:13] pascaldekloe commented on #4360
How would parsing text for daemon ready-ness work? Do you suggest a script with a regular expression, which exposes the TCP port on a match? Better hope that log line does not change in future versions then. 😄

[2021-03-18 13:20] zmstone commented on #4360
if you are suggesting that there should be a readiness probe for the service running in the container.
sure that's something we can work on.

[2021-03-18 13:24] pascaldekloe commented on #4360
I'm suggesting the daemon should be ready when it listens to a socket. Fixing this issue prevents a whole lot of complexity on container level.

[2021-03-18 13:25] zmstone commented on #4360
docker exposes the port immediately to your host.

[2021-03-18 13:28] zmstone commented on #4360
if you are writing automated tests, I guess you'll need some sort of readiness probe?
querying docker container health status is something can be generic for all containers.
--- yes, this is something we can and should provide.

[2021-03-18 13:51] pascaldekloe commented on #4360
This is not a test problem. It is a production problem, and not even mine. I just found the bug while testing my new client, and took the courtesy to report it. Also not a Docker problem. Same happens without a container.

[2021-03-18 14:02] zmstone commented on #4360
tested it with:
`path/to/emq/bin/emqx start && go run cmd/mqttc/main.go localhost`

there is no error.

[2021-03-18 14:04] #4360 closed

[2021-03-18 14:11] zmstone commented on #4356
@lanling233 你跑的哪个版本，在什么操作系统上？

[2021-03-18 22:17] berayb opened #4369 "bridge mqtt infinite loop bug"
Version: 4.2.8
OS : Ubuntu 18.04
System: 8core 48GB Memory

The problem: When MQTT Bridge to RabbitMQ is enabled, it publishes messages infinitely.
Logs : [error] [Bridge] Can't be found from the inflight:23287...

[2021-03-19 01:23] HJianBo commented on #4369
How do you configuring the Bridge for RabbitMQ? Can you paste the configurations?

The open-source version does not include the bridge. Are you sure you are using the open-source version v4.2.8?

[2021-03-19 01:29] terry-xiaoyu opened #4370 "Deny PingReq when MQTT not connected"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`): 4.3.0
- OS (e.g. `cat /etc/os-release`): Mac OS X
- Erlang/OTP version (in case you build emqx from source code): 23.0
- Others:

**What happened and what you expected to happen**:

The MQTT Broker should disconnect any connection that sends any other messages before the MQTT is connected. But if a client keep sending MQTT ping request, t

[2021-03-19 03:14] realyan commented on #4370
I also met this problem the day before yesterday, and I gave feedback on issues

[2021-03-19 05:19] terry-xiaoyu commented on #4370
@realyan Would be fixed in 4.3.0

[2021-03-19 06:17] #4370 closed

[2021-03-19 08:11] #4200 closed

[2021-03-19 11:17] zmstone commented on #3998
Hi again @endianjoakim

Some updates.
With the previous PRs and finally this https://github.com/emqx/emqx/pull/4362 merged,
to include a thrid party plugin in EMQX release, all one will need is to set an environment variable `EMQX_EXTRA_PLUGINS`.

We'll start reviewing plugins from the community and have them referenced from the main project soon.

[2021-03-19 11:55] endianjoakim commented on #3998
Thanks for the update @zmstone!

I do have a question related to Enterprise EMQx, will these community plugins be available there?

We've considered the Enterprise version but have been blocked by our `emqx-psk-pgsql` plugin not being available.

[2021-03-19 12:00] #4337 closed

[2021-03-19 12:13] zmstone commented on #3998
Excellent question. Let's move the discussion here:
https://github.com/emqx/emqx/discussions/4380

[2021-03-19 14:25] zmstone commented on #3998
As for this specific plugin, if you'd like to have it in Enterprise edition, maybe @endianjoakim you can reach out to our sales team?
The next enterprise release in plan is e4.3.0.

[2021-03-20 03:09] tigercl commented on #4344
@realyan Thank you very much for your detailed reply, and now I really understand what you mean. We discovered and dealt with this issue on other issues(https://github.com/emqx/emqx/issues/4370) a few days ago. It will be fixed to 4.3-rc.1. Next week we may release 4.2.9 and synchronize this fix.

[2021-03-21 12:03] berayb commented on #4369
@HJianBo , thanks for the reply. That is not an enterprise feature, a classic MQTT bridge.

Some config in addition to authentication info:

bridge.mqtt.aws.forwards =$share/${group_id}/+,$share/${group_id}/$SYS/brokers/+/clients/+/connected,$share/${group_id}/$SYS/brokers/+/clients/+/disconnected

bridge.mqtt.aws.start_type = auto

bridge.mqtt.aws.bridge_mode = false

bridge.mqtt.aws.clean_start

[2021-03-22 04:03] HJianBo opened #4393 "The display of the alarm page is not friendly enough"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`):  The lastest enterprise version (maybe 4.3-rc.1?)

**Current Alarm Page:**

<img width="1188" alt="image" src="https://user-images.githubusercontent.com/13825269/111938338-ab991b00-8b04-11eb-9ecc-7293b43d2ddf.png">

1. Accurate to 2 decimal places
2. Why the system alarm is an `Unknown Alarm`?

**History Alarm Page:**
<img width="1197" al

[2021-03-22 06:04] umeat opened #4395 "Mnesia emqx_acl only has a single disc copy"
I have a cluster with three nodes (running in Kubernetes). I'm using the Mnesia ACL plugin for authorization of requests and noticed that the other nodes cannot authorize requests while the emqx-0 node reboots. This results in the complete inability for emqx-1 and emqx-2 to send / receive any messages while emqx-0 is down.

Running `emqx_ctl mnesia` on emqx-0 shows that emqx_acl is only mentioned

[2021-03-22 06:16] umeat commented on #4395
In case it's relevant, here's the output from emqx-1:

[code]

And from emqx-2:

[code]

[2021-03-22 06:45] ogre-github opened #4499 "reported a minus integer, but parsed to an unsigned integer"
in lwm2m specification, it is described as follows:
Appendix C. Data Types
Integer :  An 8, 16, 32 or 64-bit signed integer.The valid range of the value for a Resource SHOULD be defined. This data type is also used for the purpose of enumeration.

emqx_lwm2m_message.erl
        "Integer" ->
            Size = byte_size(Value)*8,
            <<IntResult:Size>> = Value,                 =>          <

[2021-03-22 07:22] openedhardware opened #4396 "emqx:4.2.7-alpine-amd64 Not Working"
**Environment**:
Here is my Dockerfile:
[code]
And here is my `emqx_bridge_mqtt.conf` file:
[code]
And using telegraf docker image to upload CPU/Memory/Network usage to the emqx broker on an AWS EC2 instance.

But this EMQX docker container doesn't start:
[code]
I can't figure out what's wrong with the emqx controller from the stack trace.

Can you please help me figure out?

Cheers.

[2021-03-22 08:13] HJianBo opened #4397 "Alarm page require pagination"
As the title. When a large number of historical alarms exist, the lack of paging will result in too much data for a single query

[2021-03-22 08:36] HJianBo opened #4398 "The `emqx_congestion` module is taking up unnecessary CPU time"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`):  v4.3-rc.1

**What happened and what you expected to happen**:

With no alarms generated/canceled, the emqx_congestion module should have a negligibly low CPU footprint.

**Anything else we need to know?**:

see the flame graphic attachment
[shared_sub_5to3.svg.zip](https://github.com/emqx/emqx/files/6180613/shared_sub_5to3.svg.zip)

[2021-03-22 08:45] openedhardware commented on #4396
Upgraded the docker image to 4.2.8 and now it works!

But seeing a bunch of ` [error] [Bridge] Can't be found from the inflight:XXXX` error messages...

[2021-03-22 08:45] #4396 closed

[2021-03-22 08:46] openedhardware commented on #4369
Any update here?

I have a very similar issue with the bridge enabled.

My configuration is here - https://github.com/emqx/emqx/issues/4396

[2021-03-22 08:52] HJianBo opened #4399 "The force_shutdown_policy option does not always take effect"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`): 3-v4.3-rc.1

**What happened and what you expected to happen**:
I'm performing a shared subscription stress test on a 2C8G machine. EMQ X crashes due to OOM when the subscription client can't receive the more messages

**How to reproduce it (as minimally and precisely as possible)**:

The `force_shutdown_policy ` option:
[code]

Sub Clien

[2021-03-22 08:56] HJianBo commented on #4399
I have tried setting `kill => true`:
https://github.com/emqx/emqx/blob/b6894ae4c2f656587f7f7f53a52008abf75ba0bc/src/emqx_misc.erl#L189

But this seems to cause another problem: the process will be killed by the VM directly, so `emqx_connection:terminate` will not be called. This will cause the device to be in the wrong state in the broker.

[2021-03-22 10:27] qzhuyan commented on #4227
@eleonora-a thanks for the updates, I am going to see if I can reproduce the error myself.
 could you describe which client are you using? I need to understand the client's behavior.

From the log I can see the node may be overloaded, could you try again with lower rate in rate limiter? idealy a health system should have CPU load under 50%.

[2021-03-22 10:38] qzhuyan commented on #4227
@Ashtonian Is there any error or crash logs on emqx nodes?

eaddrinuse means you run out of ports, come connection are not closed properly and stuck in TIME_WAIT status.

Can you check the connections with `sudo netstat -tnp` on loadgen when you get the erro?

Network tuning guide for your reference, yes it applys to your loadgen as well.
https://docs.emqx.io/en/broker/v4.2/tutorial/tune.html#tcp-

[2021-03-22 14:03] k32 commented on #4395
Hello,
I am very new to the project, so apologies in advance.
Could you show output of `emqx_ctl plugins list` on each node? I think `emqx_acl` table is replicated to all nodes that have `emqx_auth_mnesia` plugin enabled.

[2021-03-22 22:08] umeat commented on #4395
Sure thing. They all have the `emqx_auth_mnesia` plugin enabled.

emqx-0:
[code]

emqx-1:
[code]

emqx-2:
[code]

[2021-03-23 07:43] k32 commented on #4395
Thanks for the info. Which version of EMQX are you using?

[2021-03-23 08:40] umeat commented on #4395
version 4.1.3

[2021-03-23 09:03] k32 commented on #4395
Thanks, I think this version has a bug where the `emqx_acl` table is not copied. It has been fixed in this commit: `e236196fa61152f9850aeffc49b2b350d9a9ed47`. Let me check which release it was merged to. In any case, I think the fix should be easy enough to backport.

[2021-03-23 09:20] umeat commented on #4395
I'll try to upgrade and let you know! Thanks.

[2021-03-23 09:31] terry-xiaoyu opened #4414 "Stop emqx failed"
Cannot stop emqx when using java hook plugin:

![image](https://user-images.githubusercontent.com/11696433/112124167-04e47580-8bfd-11eb-9845-7c832965df83.png)

And here is the result of `ps -ef | grep emqx`:

![image](https://user-images.githubusercontent.com/11696433/112124239-19c10900-8bfd-11eb-8621-4c2b05c3e462.png)

**Environment**:

- EMQ X version (e.g. `emqx_ctl status`): 4.3-beta.1
- OS (e

[2021-03-23 09:39] endianjoakim commented on #3998
Thank you, I will consider this. Is there a date planned for the e4.3.0 release?

[2021-03-23 11:48] k32 commented on #4395
The fix will be available in v4.3-rc1, which should be released tomorrow.

[2021-03-23 11:49] zmstone commented on #4414
`| grep -v remsh` ?

[2021-03-23 11:51] k32 commented on #4395
I verified on the v4.3-beta that the problem is fixed. Closing the issue for now. Please feel free to reopen if there are new details.

[2021-03-23 12:06] zmstone opened #4416 "dev/v5.0 should have websocket origin check enabled by default"
due to backward compatibility reason, we added websocket origin check in 4.3, but turned off by default.
we should have it enabled by default in v5.0

[2021-03-23 12:08] zmstone commented on #4416
related: https://github.com/emqx/emqx/pull/4407
the doc added in this PR should be updated.

[2021-03-23 12:16] zmstone commented on #3998
we are releasing opensource v4.3.0 soon in this month.
e4.3.0 should be ready May, but it's hard to say at this moment

[2021-03-23 13:48] #4414 closed

[2021-03-23 15:44] auror opened #4422 "emqx manual docker image: Kernel pid terminated"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`): Node '522466e19fab@XXXXX' not responding to pings.
- Hardware configuration (e.g. `lscpu`): 8
- OS (e.g. `cat /etc/os-release`):
[code]
- Kernel (e.g. `uname -a`): Linux 522466e19fab 4.19.121-linuxkit #1 SMP Thu Jan 21 15:36:34 UTC 2021 x86_64 Linux
- Erlang/OTP version (in case you build emqx from source code):  23
- Others:

**What happ

[2021-03-23 15:47] auror commented on #4422
Not sure if it's the issue with `alpine` or something else. or are we missing something here ?
cc: @zmstone

[2021-03-23 16:44] zmstone commented on #4422
it has failed to load jiffy
which is likely due the binary is not built or built on a different platform.
have you tried `make clean` before make docker ?

[2021-03-23 18:51] auror commented on #4422
@zmstone Yes, but that didn't help the elixir deps
[code]

But will try to clean the complete destination directory `_build` & check

Regards

[2021-03-23 19:25] zmstone commented on #4422
You can delete the elixir dependency dirs from `_build/default`
if you have to repeat `make clean-all` a lot.

[2021-03-23 20:20] auror commented on #4422
Cool @zmstone It worked 👍

[2021-03-23 20:20] #4422 closed

[2021-03-23 23:48] mloebl opened #4424 "helm chart deploy instance only accepts EMQX_BRIDGE__MQTT__AWS for bridge name"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`):  4.2.8
- Hardware configuration (e.g. `lscpu`): arm64
- OS (e.g. `cat /etc/os-release`): Ubuntu
- Kernel (e.g. `uname -a`): 5.4.0-1030-raspi

- Others:  k3s 1.20.4+k3s1

**What happened and what you expected to happen**:  Specifying other EMQX_BRIDGE__MQTT__ in env configuration has no effect unless called, EMQX_BRIDGE__MQTT__AWS__  , can

[2021-03-24 01:44] umeat commented on #4395
This is likely a different issue, but the docker environment variables don't seem to be loaded into the config files in version 4.3-rc.1.

The EQMX_LOADED_PLUGINS variable works (I can see that the plugins are loaded in the dashbord) - but (for example) `EMQX_AUTH__HTTP__AUTH_REQ__URL=http://some-url:80/auth` and `EMQX_ACL_NOMATCH=deny`, aren't applied in the config files. In 4.1.3 setting those v

[2021-03-24 02:25] umeat commented on #4395
fwiw I tested in 4.2.8 and the issue is still present there.

[2021-03-24 06:19] qzhuyan commented on #2671
Question, I seem some device log entry like following

Failed to subscribe to topic 'home/…/job/+/status'

 How many devices subscribe to the wildcard topic?

You also mentioned lastwill messages, how many devices specify lastwill message and how many subscribers on the topic?

[2021-03-24 06:58] Rory-Z commented on #4424
Hi, @mloebl
Sorry, we only support modifying existing configurations with environment variables.
@zmstone @z8674558 Is there a way we can add a new configuration with environment variables?

[2021-03-24 07:01] gbrehmer commented on #2671
All devices (8000) but each to his own because prefix is different

All devices specify last will = 8000
Only the Backend subscribes to this topic by using wildcard subscriptions (each topic begins with `home/[1-255]/...`, we have two backends, one hot standby, subscribing each to `home/1/#`, `home/2/#`,..., `home/255/#`)

[2021-03-24 07:13] z8674558 commented on #4424
In the next release (v4.3.0), you should be able to add new ones because we stopped looking for the corresponding variable in `.conf` file using sed. Instead we read environment variables in Erlang runtime.

[2021-03-24 07:22] Rory-Z commented on #4424
@z8674558 I tried the docker image of `emqx/emqx:4.3-rc.1`, which still can't add a new configuration by environment variables

[2021-03-24 07:40] z8674558 commented on #4424
@Rory-Z I could. try `docker run --env EMQX_LISTENER__TCP__CUSTOM=2000 -it emqx/emqx:4.3-rc.1` and you will see `Start mqtt:tcp:custom listener on 0.0.0.0:2000 successfully.` in the console.

[2021-03-24 07:58] zmstone commented on #4424
`bridge.mqtt.$name.address` is called 'fuzzy' match in the config parser (cuttlefish).
`EMQX_LISTENER__TCP__CUSTOM` ('fuzzy' word at the end) seems to work fine.
@z8674558 will have a look if there is something wrong with it when the fuzzy word is in the middle

[2021-03-24 08:01] k32 commented on #4395
Yes, 4.3.0 will be the first open-source release containing the fix.

Could you please open a new ticket?

[2021-03-24 08:29] zmstone commented on #4395
Hi @umeat
There will be a v4.2.9 to have this bug fixed.
It's hard to say when though.

[2021-03-24 08:31] z8674558 commented on #4424
@Rory-Z

I tried
[code]
and the variables loaded successfully when I turned on the plugin. How did you test?

[2021-03-24 08:40] zmstone commented on #4395
the fix: https://github.com/emqx/emqx-auth-mnesia/pull/55

More context:
Starting from v4.3, enterprise use the exact same code in `src` and `apps/*` as opensource.
This kind of situation will hopefully not happen again.

[2021-03-24 08:55] Rory-Z commented on #4424
@z8674558 I create env file
[code]
and I run ` docker run -it --rm --env-file env emqx/emqx:4.3-rc.1 bash`, it worked, cool !

@mloebl  You can look forward to our version 4.3.0, or try 4.3-rc.1

[2021-03-24 08:56] Rory-Z commented on #4424
the fuzzy word is in the middle it still worked , cool !

[2021-03-24 09:05] zmstone opened #4426 "wss listener config does not support ip:port"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`): v4.3-rc.1
- Erlang/OTP version (in case you build emqx from source code): 23

**What happened and what you expected to happen**:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

set `EMQX_LISTENER__WSS__EXTERNAL="127.0.0.1:8084" `
and start the node

**Anything else we need to know?**:

[2021-03-24 09:08] zmstone commented on #4424
awesome support @Rory-Z and @z8674558
i'm still not quite following what's missing in @mloebl's helm chart deployment.
could you share more details ?

[2021-03-24 09:27] umeat opened #4427 "EMQX 4.3-rc.1 Docker image does not set config file variables from environment variables"
**Environment**:

EMQX 4.3-rc.1, running in Docker (emqx/emqx:4.3-rc.1)

**What happened and what you expected to happen**:

Environment variables aren't converted to configuration file options as described in the documentation: https://hub.docker.com/r/emqx/emqx.

In older versions, variables would be written to EMQX config files. For example, setting `EMQX_ACL_NOMATCH=deny` would set the emqx.co

[2021-03-24 09:46] Rory-Z commented on #4427
Hi, @umeat In 4.3, the environment variable is set directly into the emqx application, rather than modifying the config file
[code]

[2021-03-24 09:47] Rory-Z commented on #4427
@z8674558 Is there any way we can make it easy for users to view their config changes ?

[2021-03-24 09:56] z8674558 commented on #4427
@Rory-Z at this moment no. maybe we should print values from environment variables when the load of plugin, like `echo_value` in v4.2.x?
https://github.com/emqx/emqx-rel/blob/eee3fb9e1cb52a17b6b02f7d8169fe80b7e4e31d/deploy/docker/docker-entrypoint.sh#L106

[2021-03-24 10:02] Rory-Z commented on #4427
@z8674558 Maybe we can print out to the log file instead of in the shell

[2021-03-24 10:18] zmstone commented on #4427
this is done in `cuttlefish` which does not have a logging support.
for overrides at boot time, the app.config is generated by `cuttlefish` command
but not generated inside the emqx node where there is a proper logging system.

maybe a feature for cuttlefish to have a configurable logging callback.
e.g. `stdio | fun((Level, Fmt, Args) -> ok)`

[2021-03-24 10:18] umeat commented on #4427
Thanks for that. I see now that it is running with the correct config.

I must be running into a different issue - but `emqx_ctl status` isn't working. I get `Node 'emqx@127.0.0.1' not responding to pings.` and nothing in the logs about it. Has something changed in 4.3 about that?

Also has the ACL API endpoint changed again in this version? It was /api/v4/emqx_acl then it was /api/v4/mqtt_acl, an

[2021-03-24 10:21] zmstone commented on #4427
@umeat the 'ping not responding' issue is a work in progress
a workaround is to issue the command like `EMQX_NODE_NAME=name@ip emqx_ctl status`

[2021-03-24 10:22] zmstone commented on #4427
@umeat could you create a new issue for the acl endpoint ?
I'm closing this one.

[2021-03-24 10:22] #4427 closed

[2021-03-24 10:26] umeat commented on #4427
Sure thing - thanks very much. That work around works for me.

[2021-03-24 10:30] umeat opened #4428 "ACL API Endpoint not found in 4.3-rc.1"
**Environment**:

Docker image emqx/emqx:4.3-rc.1.

**What happened and what you expected to happen**:

The ACL API endpoint used to be /api/v4/emqx_acl, then it was /api/v4/mqtt_acl, and now neither seem to work.

**How to reproduce it (as minimally and precisely as possible)**:

Run the docker image with emqx_auth_mnesia plugin enabled and exec into the container and run:

[code]

**Anything els

[2021-03-24 12:26] mloebl commented on #4424
Thank you guys for the quick response on this!  On a semi related topic, do the helm charts support the `tag:` option?  I tried this to test the new version, but doesn't seem to be respecting `tag` it and still pulling 4.2.8:

[code]

[2021-03-24 14:10] Rory-Z commented on #4424
@mloebl Sorry, helm chart doesn't support this, but you can clone this repos and checkout to v4.3-rc.1 tag, and run `helm instsall emqx deplo  deploy/charts/emqx`, but v4.3-rc.1 is not stable version, the docker image has some issues, you can keep an eye on us subsequent releases

[2021-03-24 14:11] mloebl commented on #4424
Thank you @Rory-Z , I'll be patient them for 4.3 . I see 4.2.9 came out, so hoping 4.3.0 isn't too far behind it (not sure your current release cycle.)  Thank you guys again for the help!

[2021-03-24 14:23] zmstone commented on #4424
@mloebl thank you for your quick feedbacks too.
I'm closing this issue now.
for questions, you are welcome to ask here: https://github.com/emqx/emqx/discussions

[2021-03-24 14:23] #4424 closed

[2021-03-24 14:54] qzhuyan commented on #4426
reproduced with minimal scripting:

[code]

[2021-03-24 17:16] #4426 closed

[2021-03-24 17:18] terry-xiaoyu opened #4434 "The sleep mode of MQTT-SN Gateway not working"
According to the protocol, when a mqtt-sn device sends pingreq to the broker, the broker should only reply pingresp AFTER all the buffered downlink msgs have been delivered:

<img width="691" alt="image" src="https://user-images.githubusercontent.com/11696433/112354592-cedfe800-8d07-11eb-9962-60ad4afa7736.png">

But now the broker send the pingresp immediately after receiving the pingreq.

**Envir

[2021-03-24 20:42] zmstone commented on #4395
fixed in 4.2.9

[2021-03-24 20:42] #4395 closed

[2021-03-25 01:06] tigercl commented on #4428
@umeat Now this part of the feature is provided by the `emqx_auth_mnesia` plugin, so maybe you need to load this plugin first.

[2021-03-25 01:22] umeat commented on #4428
If I run 4.3-rc.1 in docker with the plugin loaded neither endpoints work.

[code]

I confirmed the plugin is loaded correctly in the dashboard.

[2021-03-25 08:21] k32 commented on #4428
Looking at the code (emqx_acl_mnesia_api.erl), the REST API schema changed once again:

On 4.3:
[code]

On 4.1 (which you were using before):

[code]

[2021-03-25 08:44] qzhuyan commented on #2671
@gbrehmer what are the QoS for lastwill and the published message?

[2021-03-25 09:29] umeat commented on #4428
Okay thanks. Confirmed that works.

The 4.3 doco still says "emqx_acl": https://docs.emqx.io/en/broker/v4.3/advanced/acl-mnesia.html#use-the-http-api-to-manage-acl-rules

[2021-03-25 09:33] zmstone commented on #4428
this is not nice.
we should make it backward compatible.
@k32 thank you for your support, could you send a PR to make it compatible ?

[2021-03-25 09:43] zmstone commented on #4428
this is due to enterprise code disclosed to the community.
should have done a better job reviewing the change...

[2021-03-25 09:51] k32 commented on #4428
@zmstone Sure. Seems like it was a side-effect of merging code enterprise and opensource codebases in the monorepo. (Commit:  e236196fa61152f9850aeffc49b2b350d9a9ed47 that switched `emqx_auth_mnesia` to e4.2 tag) I am trying to understand what is the best course of action, because the branches diverged quite a bit.

[2021-03-25 09:57] fracasula opened #4439 "QoS 1 dropped messages on benchmark"
Hello, I'm evaluating the EMQX Broker for the company I work for but I'm having some issues with dropped messages in my benchmark.

I'm using EMQ X Broker 4.3-rc.1 via Docker, no clustering, just a single node started via `make` like this:

[code]

As you can see I'm just focusing on the `internal` zone here, I tried also with a smaller `max_inflight` which shouldn't affect the dropped messages an

[2021-03-25 11:02] gbrehmer commented on #2671
QoS 1 for last will, and QoS 1 for messages from device wildcard topic ('home/…/job/+/status').
backend subscription is always QoS 1 too (home/xxx/#).
QoS 0 is only used on client side for sensor updates. And QoS 2 in a corner case (home/…/error/service) for sending error states (from sensors etc. not mqtt/connection state) from device, but is not used for subscription of the same topic

[2021-03-25 11:09] zmstone commented on #4428
we can add back the old endpoint and delegate the call the the new.

[2021-03-25 12:04] k32 commented on #4428
Turns out the changes in the API can't be trivially mapped to one another. We'll come back to you when we decide the way forward.

[2021-03-25 14:53] zmstone commented on #4399
the oom shutdown message is a loopback to `self()`, meaning it will not have a chance to shutdown until the message is received.

[2021-03-25 14:55] zmstone commented on #4399
`emqx_connection` does not trap exit, so I am not sure if the terminate callback is called at all anyway.

[2021-03-25 14:57] zmstone commented on #4399
Sorry, this is not true. because I can see this debug log: `?LOG(debug, "Terminated due to ~p", [Reason]),`

[2021-03-26 02:06] xiezhuojin opened #4442 "Way to save data to sql server"
**What would you like to be added/modified**:
A way to import data to sql server
**Why is this needed**:
Recently, my company ask me to create mqtt client to receive data then dump them to their sql server and they recommand me this project. After reading the docs, I found emqx is quite promising in my project. But these is one thing that brother, that is there is no way to import data to sql serv

[2021-03-26 06:51] zmstone commented on #4428
I'm afraid 4.2->4.3 upgrade, configuration and API compatibility is broken.

The same thing happened for enterprise 4.1->4.2
^ this is no excuse for non backward-compatible change for open-source though
however we can not let the code diverging even more, otherwise nobody benefits from it.
Hope our open source users will understand it. We'll make sure this is stated in the release notes.

I am clo

[2021-03-26 06:51] #4428 closed

[2021-03-26 06:52] zmstone commented on #4428
edited: the broken compatibilities are only about emqx_auth_mnesia plugin.

[2021-03-26 07:01] zmstone commented on #4442
hi @xiezhuojin

we have a data sink module for sql server in enterprise edition, but not opensource.
At the moment, we do not have a clear plan with regards to whether or not disclose the plugin to the community or when.
If you are interested, you are welcome to reach out to EMQ's sales team.

For plugin development, the open source team is here to help if you are to develop your own plugin.

[2021-03-26 07:01] #4442 closed

[2021-03-26 12:51] umeat commented on #4428
No stress. Love your work.

[2021-03-26 12:53] KrYpToDeN commented on #4305
Hello @HJianBo

Could you consider this topic, please?

[2021-03-26 15:06] eleonora-a commented on #4227
Hi @qzhuyan,

Our test clients are using org.eclipse.paho.mqttv5.client (version 1.2.5). We start the clients simultaneously. Once a client is connected to the MQTT broker and subscribed to the relevant topics, it sends a MQTT message to our server. Then our server sends an MQTT message as response and an additional message to the client. When the client gets and processes the message, it sends an

[2021-03-26 15:40] RooyeKhat opened #4447 "emqx-4.2.9-1.el7.x86_64 : [Errno 256] No more mirrors to try."
**Please describe your problem in detail, if necessary, you can upload the log file through the attachment**:
Hi
wen need upgrade with yum in centos linux machine show this error

log :
[code]

[2021-03-27 07:17] RooyeKhat commented on #4447
Solved
Tnx

[2021-03-27 07:17] #4447 closed

[2021-03-29 01:14] tigercl commented on #4439
@fracasula Sorry for not responding to you in time, and thank you for such detailed feedback. Regarding the dropped messages, I see `messages.dropped.no_subscriber` metric. It seems that the messages are all dropped because there are no subscribers? I saw you mentioned that the `Session Expiry Interval` specified by the client is 0xFFFFFFFF, but what is the value of `Clean Start`? The value of `Cl

[2021-03-29 08:54] fracasula commented on #4439
@tigercl thanks for getting back to me! Yes, of course I'm using `CleanStart: false`, this is how I'm building the `CONNECT` packet via the [Eclipse Paho library](https://github.com/eclipse/paho.golang):

[code]

I'm not passing anything else but let me give you a bit more background. At [Netdata](https://github.com/netdata/netdata) we're using VerneMQ in production but it doesn't give us in-order

[2021-03-29 09:14] qzhuyan commented on #2671
@gbrehmer  I have a patch set for you.

https://github.com/emqx/emqx/compare/v2.3.10...qzhuyan:perf/ensure-minimal-session-manager-worker-pool-size?expand=1

The patch set bumps the pool size (perf improvement)and fix bugs if your clients running into a corner case such as the following log (same client id is already registered on another node). The patch would make the client fail fast, so it can

[2021-03-29 09:31] qzhuyan commented on #2671
Forget to mention that with the upper patch, it will be better to disable TCP stickneess.

[2021-03-29 09:50] qzhuyan commented on #4227
@eleonora-a

thanks for your info,

the cluster settings look incorrect to me(sorry I missed that in last post), this assumes all nodes are running on the same host.

[code]

Can you share how you deploy the cluster and your network planning?

You can also refer to following:

Search for "Introduction to manual cluster management" in:

https://docs.emqx.io/en/broker/v4.2/advanced/cluster.html#node

[2021-03-29 09:51] #4434 closed

[2021-03-29 11:38] eleonora-a commented on #4227
@qzhuyan,

I am sorry for not including the cluster configuration in the config file in the first place, considering this part irrelevant.

In our case, each of the three nodes is deployed on a separate virtual machine and the incoming connections are distributed by a load balancer. We have not noticed any issue in the logs related to the cluster configuration.

[emqx.conf.zip](https://github.com/

[2021-03-29 13:41] gbrehmer commented on #2671
@qzhuyan
Thanks for the patch, i have deployed the patched version to our stage environment and switch back to haproxy/LB `roundrobin` mode.

Do you have hints regarding docker deployment?
It is better to reuse mnesia or it is also fine to drop those folders on redeployment? And is there any replication active, like if we replace node1 with clean folders, will node1 then be filled with a mnesia co

[2021-03-30 01:18] tigercl commented on #4439
@fracasula I think EMQ X Broker lost the subscription or cleared the session during the client disconnection. Of course, based on previous experience, I prefer to clear the session.
Perhaps some errors in EMQ X Broker caused the client to disconnect, but I still cannot determine the specific error. I suggest you set the log level to warning, because the debug level will greatly affect performance

[2021-03-30 07:33] terry-xiaoyu opened #4456 "The emqx-coap gateway should return error code: forbidden on ACL denied"
The emqx_coap checks ACL when subscribing or publishing, but the CoAP return code is always 2.00 which is not correct.
It should return an error code `4.0.3` (`forbidden`) instead.

We don't use code `4.0.1 (unauthorized)` here because it has been used for username or password checking failure.

**Environment**:

- EMQ X version (e.g. `emqx_ctl status`): 4.3.0-rc.2
- OS (e.g. `cat /etc/os-release`

[2021-03-30 07:37] fracasula commented on #4439
@tigercl I can re-run it with a warning log level, sure, but that's not the point. I opened the issue because I'd like to understand if it's possible to avoid dropped messages in the first place. Client errors happen, they can happen for a variety of reasons. The point is that I do not want to lose messages if they happen. So if we set `EMQX_ZONE__INTERNAL__MAX_MQUEUE_LEN` to `0` and the client is

[2021-03-30 07:56] fracasula commented on #4439
@tigercl

[code]

Is that the reason why it's disconnecting the client and dropping the messages? Can we change some configuration on the broker to avoid the dropping somehow?

[2021-03-30 08:08] #4399 closed

[2021-03-30 08:23] zmstone commented on #4439
Hi @fracasula
slightly related, we have merged a fix 6c77fa1b which is to be released in rc.2.
`EMQX_ZONE__INTERNAL__MAX_INFLIGHT=10000000` this config will not be valid,
maximum allowed will be 65535, otherwise there is a risk of overflow.

[2021-03-30 08:34] fracasula commented on #4439
@zmstone Amazing, if I set `EMQX_ZONE__INTERNAL__MAX_INFLIGHT` to `65535` the consumer gets through all the messages and I see no drops.

Unfortunately if I make the consumer wait 10 seconds before sending a `PUBACK` back I get the same issue.

[code]

Once I get that warning I see lots of dropped messages:

[code]

[2021-03-30 08:34] zmstone commented on #4439
just did a test, `-e EMQX_ZONE__INTERNAL__MAX_MQUEUE_LEN=0` this config should take effect,
You may check `data/app.<time>.config` to confirm, it should contain:

[code]

[2021-03-30 08:36] zmstone commented on #4439
Thanks for testing it out. This is new to me, I thought overflow may only cause the connection to crash.
still not quite familiar with the code base ;-)

[2021-03-30 08:37] fracasula commented on #4439
Even now and then it still happens even without the `PUBACK` artificial delay :thinking: I'll check the `data/` folder to see if the settings are being applied :bow:

[2021-03-30 08:39] zmstone commented on #4439
I am looking into this.

[2021-03-30 08:41] fracasula commented on #4439
@zmstone

[code]

:point_up: looks good to me :thinking:

@zmstone is there some dashboard/cli-tool I can use to make sure that I'm connecting to the `internal` zone? I mean, the port forward looks correct but just in case I'd like to double check.

[2021-03-30 08:53] HJianBo opened #4458 "The Topic Rewrite should support the variable replacement"
**What would you like to be added/modified**:

When doing a topic redesign, it is likely that the new theme structure will include client-side attributes.

For example, it will be necessary to change the

[code]

to be rewritten as

[code]

The `<Protocol-Name>` can be fetched from `ClientInfo`
The `<TenantID>` can be fetched from `ClientInfo` (It may actually come from my device management databa

[2021-03-30 08:54] zmstone commented on #4439
you can use command `bin/emqx_ctl listeners` to view some details.

[2021-03-30 09:13] fracasula commented on #4439
@zmstone thank you, that's very useful! I can confirm that I'm connecting to the right zone but I had to add this my `docker run`: `-e EMQX_LISTENER__TCP__INTERNAL=0.0.0.0:11883`.

[code]

Now I believe that it's connecting to the right zone. I can still see the heap error messages but no dropped messages! :tada:

I'll re-run the tests later with a late `PUBACK` to test the behaviour there. Thanks

[2021-03-30 10:16] zmstone commented on #4439
Please note that EMQ X open source edition so far do not support session message persistence.
As you can see there were 3 shutdowns, maybe that's causing the message loss.
The congestion alarm does not cause shutdown, but this does:
[code]
If you want to allow RAM usage for one connection to grow indefinitely, you can use `0` to disable them.

P.S. one minor update:

The next RC is `4.3-rc.3` whic

[2021-03-30 15:07] qzhuyan commented on #2671
@gbrehmer EMQX supports hot code upgrade which is an erlang feature, I think in your case, hot code upgrade might be the best fit since the changes are small. https://docs.emqx.io/en/enterprise/v4.2/advanced/relup.html

I also understand that the rolling upgrade is more convenient with deployment in docker.

The procedure in my mind should be as following

You have two nodes running behind the LB,

[2021-03-30 16:33] N0tronic opened #4459 "Docker Environment Variables not in emqx.conf"
**Environment**:

- EMQ X version **4.3-rc.3**
- Docker Engine **v20.10.5**

**What happened and what you expected to happen**:

I expect the variable values in config file "etc/emqx.conf" which I'd set as environment variables, but I seen only default values in the config file.

**How to reproduce it (as minimally and precisely as possible)**:

Start the docker container with a environment variab

[2021-03-30 16:44] k32 commented on #4459
Could you please show the full command you're using to start the container?

[2021-03-30 16:57] zmstone commented on #4459
Hi @N0tronic
Starting from 4.3, the environment variable overrides are not translated as replacements in .conf files.
Instead, the overrides are applied at runtime.

[2021-03-30 16:58] zmstone commented on #4459
You can test it with for example this flag: `-e EMQX_LOG__LEVEL=debug` in `docker run` command.

[2021-03-30 17:06] Robin2009 opened #4460 "Way to stop sending messages of "publishing" via webhook after call the webapi publish/publish_batch"
Hi there,

I've activated the webhook plugin successfully and it works will, so each time when emqx borker received a message (say, pub by a client) it will call the api of my service and send the data to me along with the original client's information.  cool.

And when I want to send message to clients I just call the api "POST /api/v4/mqtt/publish" or "POST api/v4/mqtt/publish_batch", works fine

[2021-03-30 17:22] zmstone commented on #4460
Hi @Robin2009
This does not seem to be supported if I am not mistaken.

As far as I can tell, we only have a hardcoded topic filter which drops messages sent to `$SYS/#` topics.
It would be useful if we can add configurable topic filters.

[2021-03-30 17:40] N0tronic commented on #4459
Thx for prompt reply :-)

@zmstone
Bug or Feature? I know that the variables, set over environment, applied at runtime (look at my description).

@k32
The specific command is not helpful. It´s a general behavior by setting environment variables...

Hope it´s a bug. I need to see the right configs in the configuration file. Otherwise it´s realy difficult to make configuration work.

[2021-03-30 18:25] Robin2009 commented on #4460
Thank you so much, that sounds cool.

I guess this would help:

Parameters for publish_batch api:
`
 "tag":"my_batch_publish",
[
		{
			"topic": "a/b/c",
			"payload": "Hello World",
			"qos": 1,
			"retain": false,
			"clientid": "example",
		},
		{
			"topic": "a/b/c",
			"payload": "Hello World Again",
			"qos": 0,
			"retain": false,
			"clientid": "example",
		}
	]
`

and **inside the emqx**

[2021-03-31 02:25] Robin2009 commented on #4460
Hi @zmstone . Thanks for the reply.
Sorry I didn't make my point clearly enough.
![image](https://user-images.githubusercontent.com/6648354/113079569-c5300780-9181-11eb-82e1-777da57407a0.png)

I hope my server could still receive the events raised due to the client a/b sent something to the broker.  ( ② , ③ )
But I don't want the broker forward those events to my server after my server pushed mess

[2021-03-31 06:56] zmstone commented on #4460
Hi @Robin2009
If you configure the webhook actions to only act on `my/namespace/#` topics.
and the messages in `pulbish_batch` is produced to a different topic e.g. `no/loopback/to/server`
then the blue arrow labled `(1) msg_pub by My Server` should not happen.

[2021-03-31 08:19] N0tronic commented on #4459
Ok thx, I understand. The new config parsing make sense. Nevertheless it would be nice to have a view of the actual system config in the config file.  What speak against it? It´s confusing if the actual system config differ from config file...

[2021-03-31 09:03] zmstone commented on #4459
The old `sed` replacements only worked for docker.
we wanted a generic solution for both emqx when running for tests, as a systemd daemon, and in docker.

The `sed` replacements were error prone and hard to maintain.
it will be even harder to maintain when we move to HOCON format in version 5.0,
the values (when there are special chars on the right hand side of `=`) will have to be quoted,
using `

[2021-03-31 09:37] Robin2009 commented on #4460
Sure.  I think I know what mean, yet that's not what i mean to do.
My server and the devices should both be able to  publish data to a same topic for some reason in my case.
Once the webhook plugin has been activated, my server will be notified of the pub_event due to whoever published something to this topic.
My server needs to receive the event which contains "who/when/what" information via webh

[2021-03-31 10:09] zmstone commented on #4460
A MQTT client can subscribe multiple topics, or you can make server and other subscribers subscribe at different levels.
e.g.
Sever subscribes to `my/namespace/#`, and publishes to `my/othernamespace/foo`
Other clients subscribe to `my/namespace/#` and `my/othernamespace/#` to receive messages from both publishers and server.

Or
Server subscribes to `my/namespace/clientpubs/#` and publishes to `m

[2021-03-31 10:09] #4460 closed

[2021-03-31 10:35] N0tronic commented on #4459
Thx, you´re right. Maybe only confusing at the beginning of config mechanism change ;-)

[2021-03-31 10:35] #4459 closed

[2021-04-01 06:13] yuezhongxin opened #4465 "broker.shared_subscription_strategy hash的疑问"
配置设置了：
[code]

然后有两个订阅者（$queue//sys/#），然后我发了消息，始终只有一个接受到了，按照hash的解释，不应该是谁发送的谁接受到吗？

[2021-04-01 06:27] tigercl commented on #4465
@yuezhongxin It just means that messages from the same client will be forwarded to a fixed subscriber under the condition that the number of subscriptions remains the same.

[2021-04-01 06:31] yuezhongxin commented on #4465
哦哦，那和sticky是不是差不多？只是hash在订阅者变化后，再计算clientID选取是吧？后面订阅者不变，就一直是这个接受到。

那如何实现谁（ClientID）发送的谁接受到的呢？

[2021-04-01 06:35] yuezhongxin commented on #4465
我们的场景是，客户端发送消息，然后同步等待终端回复的消息，现在是广播的形式，比如客户端有很多个，也会接受到，就很不合理。

想做到某个客户端发送，然后只有这个客户端接受到回复的消息，其他客户端接受不到。

[2021-04-01 07:46] gomgomshrimp opened #4467 "How mqtt connection is distributed to clustered(on k8s) emqx nodes?"
I'm running emqx cluster on k8s and I checked mqtt connection is distributed to nodes.

I read that emqx cluster is usually deployed behind LB... but I'm not built any LB for emqx cluster on k8s.

Then how mqtt connection is distributed to nodes? Is there its own LB when building emqx cluster on k8s?

[2021-04-01 08:39] uuuuuuuu-s opened #4469 "When calling API service, 503 appears occasionally"
**Please describe your problem in detail, if necessary, you can upload the log file through the attachment**:
When calling API service, 503 appears occasionally

[2021-04-01 08:40] 15300357128 commented on #4469
`POST http://emqx-prod:8081/api/v4/mqtt/publish` resulted in a `503 Service Unavailable`

[2021-04-01 10:19] zmstone commented on #4469
Hi @15300357128
is it a cluster in k8s or is there a proxy or load-balancer in front of the node(s) ?

[2021-04-02 00:38] xiezhuojin opened #4472 "Can't delete topic metrics in dashboard"
**Environment**:
debian10 with docker install running emqx open sorce edition

- EMQ X version (e.g. `emqx_ctl status`):
4.3 rc2
- Hardware configuration (e.g. `lscpu`):
- OS (e.g. `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Erlang/OTP version (in case you build emqx from source code):
- Others:

**What happened and what you expected to happen**:

**How to reproduce it (as minimally and

[2021-04-02 09:43] Robin2009 commented on #4460
@zmstone Thanks for taking the time on this issue. Allow me to explain my question in Chinese in the end please. I'm not that confident with my English, hope you understand.

在我的场景中:
有一个topic. 比如就叫` /my/namespace/foo`
有两个设备,其clientId分别为 c01和c02. 它们都向`/my/namespace/foo`定时publish一些数据.
有我自己的服务器, 它也会偶尔向该topic中publish一些数据.
此外还有一些subscriber在订阅这个topic.

为了获知设备publish操作的详情(尤其是设备的clientId/username/ipaddres

[2021-04-02 14:38] zmstone commented on #4460
我们的建议是修改subscriber的行为让它们订阅两个不一样的topic。
或者修改publisher行为使用另一个topic。

如果publisher或subscriber都不可控，或很难进行升级，是否可以复制一份我们的webhook代码自己修改一下，变成一个第三方插件？这样具有极大的灵活性，但要求你们自己来构建项目

[2021-04-02 16:06] Robin2009 commented on #4460
@zmstone
收到. 受教了. 应该会尝试一下.
感谢您的建议 👍🏻

[2021-04-05 11:04] #3143 closed

[2021-04-05 21:22] aniston commented on #3758
Hello,
I seem to be having a similar issue with emqx_auth_username plugin not starting with EMQX Broker Version 4.2.9 on a Debian 10 (4.19.171-2)
- normally after the broker gets an apt update of the EMQX version this plugin does not load automatically, manually loading it does work and retains its configuration as well.

anyone else experiencing similar behavior ?

[2021-04-06 01:40] tigercl commented on #4472
@xiezhuojin It looks like it is running normally on my machine, do you see any error messages?

[2021-04-06 01:43] tigercl commented on #4465
@yuezhongxin You can set a certain level of the topic as your client identifier, and then use this topic as the topic of the reply message.

[2021-04-06 02:04] yuezhongxin commented on #4465
有没有相关文档？不是特别懂，是topic里面加标识吗？

[2021-04-06 06:01] xiezhuojin commented on #4472
@tigercl I created a topic metric on dashboard and tried to delete it, then these was a pop up message saying "URL Not Found". I tried to look at the HTTP requset, which is a DELETE request to /topic-metrics/${topic}, but it return 404. After using ```emqx_ctl modules list``` to check emqx_mod_topic_metrics is indeed loaded then looked into the code, I guest these is something wrong with https://g

[2021-04-06 06:27] tigercl commented on #4472
@xiezhuojin After my reconfirmation, this is indeed a bug. Thanks very much for your feedback, we will fix it as soon as possible and will notify you in this issue after the fix.

[2021-04-06 19:47] dsilletti commented on #4184
any update on this issue? Thanks

[2021-04-06 20:22] zmstone commented on #4184
Hi @dsilletti
I can't seem to find `EMQX_listener__ws__external__proxy_` configs in the code base.
Which user guide did you follow ?

So far I managed to find some info:
1. There are not such configs in EMQ X
2. The config `EMQX_listener__ws__external__proxy_protocol` should be set `true` for EMQ X to read proxy headers
3. The underlying HTTP server implementation follows the HAProxy binary PROXY

[2021-04-06 22:28] dsilletti commented on #4184
Hi @zmstone,
I am using emqx 4.2 and I configured the listener.ws.external.proxy_address_header and listener.ws.external.proxy_port_header according to the official emqx broker v4.2 guide:
https://docs.emqx.io/en/broker/v4.2/configuration/configuration.html#listener-ws-external-proxy-address-header and https://docs.emqx.io/en/broker/v4.2/configuration/configuration.html#listener-ws-external-proxy-

[2021-04-07 03:27] HJianBo commented on #4467
It depends only on which node the client is connected to, and on the front Proxy's strategy for distributing TCP connections.

[2021-04-07 03:59] HJianBo commented on #4305
Sorry, @KrYpToDeN I've been busy with other things lately.

As @tigercl mentioned, there is a temporary workaround in the current version (e.g: 4.2.x) to add a new `zone` and `listener` to accept these two-way SSL connections.

e.g
[code]

[2021-04-07 05:24] gomgomshrimp commented on #4467
@HJianBo Thanks to reply.
But there are some misunderstood for my question. I'm not asking about connection from external to internal...

I already built the emqx cluster on EKS and it works well. There are three emqx nodes for clustering, and mqtt connections are distributed well, but I didn't set any Load Balancer. (Each emqx node uses "headless service" - kubernetes service that has no load bal

[2021-04-07 06:03] HJianBo commented on #4467
Sorry @gomgomshrimp I don't know much about EKS, but I'm sure there must be services in the middle that exist for LB functions. Because EMQ X nodes can't do connection distribution by themselves. We formed the cluster by configuring K8S just to find the node names of other emqx nodes.

[2021-04-07 06:49] zmstone commented on #4184
Hi. @dsilletti
The configs have been deleted since 1790cde9 (released in v4.1.0), but the document was not updated.
In fact, before v4.1.0, the configs were added but for some reason, the code was never implemented to make use of the headers.
Sorry for the lack of competence here, but I would recommend you to give `EMQX_listener__ws__external__proxy_protocol=true` a try.

And add `proxy_protocol o

[2021-04-07 07:50] HJianBo opened #4487 "Rules are only effective on one node after creation"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`):  v4.3.rc.1 - v4.3-rc.3
- Hardware configuration (e.g. `lscpu`):
- OS (e.g. `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Erlang/OTP version (in case you build emqx from source code):
- Others:

**What happened and what you expected to happen**:

In the others node, the `emqx_hooks` ETS table not included hooked record:

RULES:
[co

[2021-04-07 08:36] terry-xiaoyu opened #4488 "emqx_modules cannot be loaded from file"
The emqx_modules should be loaded from the data/loaded_modules file. But after I changed that file and restart the emqx_module plugin, it doesn't work.

**Environment**:

- EMQ X version (e.g. `emqx_ctl status`): enterprise 4.2.3, 4.3.0
- OS (e.g. `cat /etc/os-release`): unbuntu
- Kernel (e.g. `uname -a`): Linux cloud_en_jump 5.4.0-1037-aws #39~18.04.1-Ubuntu SMP Fri Jan 15 02:48:42 UTC 2021 x86_6

[2021-04-07 09:15] zhangchaoxu opened #4490 "how to use emqx_auth_username plugin in v4.3.0"
in lastest version v4.3.0
i can not find file emqx_auth_username.conf in /etc/emqx/plugins.
and the plugin is not work after i download the file from https://github.com/emqx/emqx-auth-username/tree/master/etc.
what should i for if i want to use emqx_auth_username plugin in v4.3.0.

Thanks

[2021-04-07 09:31] zmstone commented on #4490
hi @zhangchaoxu
`emqx_auth_username` and `emqx_auth_clientid` are merged to `emqx_auth_mnesia`
we are working on data export from 4.0~4.2, and import to 4.3.

[2021-04-07 09:36] zhangchaoxu commented on #4490
fine, just work after i use emqx_auth_mnesia, please update wiki doc for detail, thanks

[2021-04-07 09:36] #4490 closed

[2021-04-07 10:36] zmstone commented on #4490
@zhangchaoxu yeah, doc updates are a bit lagging behind. thanks for the tip.

[2021-04-07 13:25] terry-xiaoyu commented on #4487
The original PR: https://github.com/emqx/emqx/pull/4160/files

[2021-04-07 14:36] #4488 closed

[2021-04-07 20:57] zmstone commented on #4490
related: https://github.com/emqx/emqx-docs/pull/730

[2021-04-07 21:02] qzhuyan commented on #2985
hi @RodaBVB @BorisPetelj , I am assigned to look into this issue however I am not able to reproudce the issue (subscribe timeout) with latest EMQ X release.

My test env is 2 emqx nodes with 2 cores, 4 GB mem each.  5 parallel emqtt_bench send traffic to two nodes without a proxy in the middle, the command I use is the same as in https://github.com/emqx/emqx/issues/2985#issuecomment-547590949

Do

[2021-04-08 02:31] tafiagu opened #4501 "rule engine alternative action not work"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`):  2.4.8
- Hardware configuration (e.g. `lscpu`):
- OS (e.g. `cat /etc/os-release`): centos7
- Kernel (e.g. `uname -a`): Linux localhost.localdomain 3.10.0-862.el7.x86_64 #1 SMP Fri Apr 20 16:44:24 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- Erlang/OTP version (in case you build emqx from source code):
- Others:

**What happened and what you

[2021-04-08 03:09] UglyTroLL opened #4502 "Get client list by multiple clientIds/userNames API"
**What would you like to be added/modified**:
A new HTTP API can take a list of `clientIds` / `userNames` and returns all matching clients

**Why is this needed**:
I believe batch query is needed in all circumstances

[2021-04-08 06:05] wdp88 opened #4504 "The OnMessages* hook for emqx_extension_hook plugin"
1.在使用emqx_extension_hook-java 中 onMessagePublish()，onMessageDropped()，onMessageDelivered()，onMessageAcked()的方法不执行。
2.这些钩子函数的日志文件在哪里

[2021-04-08 06:29] HJianBo commented on #4504
Hi @wdp88 For the open-source edition, These kinds of functions only included on v4.3.0.

[2021-04-08 06:36] wdp88 commented on #4504
emqx-extension-java-sdk-4.2.0.zip  是在这里的copy的代码，然后打jar包，进行测试的；这个压缩包里提供了上述的钩子函数

[2021-04-08 06:43] HJianBo commented on #4336
Hi @moziie  any updates here?

[2021-04-08 06:52] terry-xiaoyu opened #4506 "MQTT-SN gateway dropped the DISCONNECT message sent by client"
The DISCONNECT message(without the "duration" field) is simply dropped by the MQTT-SN gateway, and the state switched to asleep.

![image](https://user-images.githubusercontent.com/11696433/113979973-87fe0080-9878-11eb-8d96-4929f57fe659.png)

**Environment**:

- EMQ X version (e.g. `emqx_ctl status`): 4.3.0-rc.1
- OS (e.g. `cat /etc/os-release`): ubuntu
- Erlang/OTP version (in case you build emqx

[2021-04-08 07:09] terry-xiaoyu opened #4507 "MQTT-SN gateway should send PINGRESP after receives the PUBACK"
The mqtt-sn gateways sends the PINGRESP right after all the buffered messages are sent.

But if the last message is of QoS level 1, it should wait until the receipt of the corresponding PUBACK, or the message is possibly lost.

![image](https://user-images.githubusercontent.com/11696433/113983360-66067d00-987c-11eb-83dd-62d0cadc0f4f.png)

**Environment**:

- EMQ X version (e.g. `emqx_ctl status`):

[2021-04-08 10:50] zcgecho opened #4509 "mem rise up slowly"
i test emqx on centos7 for v4.2 in standalone mode recently, and i find that its mem rise up  slowly.
test conditon:
300 messages published per second and about 1000 clients(pub client and sub client) connected ,the mem takes 250M to 400M in 24hours later. and i still plan to test on an on to see  how much mem it takes to the end.
i know emqx build on erlang and GC is atomatically occured.

[2021-04-08 11:35] qzhuyan commented on #2985
Note, I managed to reproduce the issue by assigning more scheudlers to each node.

[2021-04-08 11:37] terry-xiaoyu opened #4511 "Some of the hooks are lost after join to the cluster"
Some record in the ETS table `emqx_hooks` are deleted after the current node joined into the cluster.

Before the join:
[code]

After the join:

./bin/emqx_ctl cluster join 'emqx2@127.0.0.1'

[code]

**Environment**:

- EMQ X version (e.g. `emqx_ctl status`): 4.3.0-rc.2
- OS (e.g. `cat /etc/os-release`): Mac OSX
- Erlang/OTP version (in case you build emqx from source code): 23.2.5

The data is re

[2021-04-09 08:02] #4506 closed

[2021-04-09 08:18] #3629 closed

[2021-04-09 21:37] martinrdrz commented on #3102
Good afternoon.
I have the EMQX message broker installed and I have modified the parameter "mqtt.max_packet_size = 128MB", but I cannot send files larger than 20 MBytes, and even messages of 10MBytes and 20MBytes take up to 90 seconds to be transmitted, which it is a long time compared to "Broker Mosquitto" that takes 20 seconds that same file size.
Do you know why it takes so long to send the 10/

[2021-04-10 01:09] tigercl commented on #4509
@zcgecho It may be that the consumer is too late to spend, causing the messages to slowly accumulate in EMQ X.

[2021-04-10 01:12] tigercl commented on #4502
@UglyTroLL This is a good suggestion, but it may not be consistent with our current API design. In 5.0, we will make an adjustment to the API, and then we will seriously consider your needs.

[2021-04-10 01:14] tigercl commented on #4501
@tafiagu In the previous implementation, we did not handle the return of the Webhook, we will improve this behavior in the next version.

[2021-04-10 01:36] #4507 closed

[2021-04-10 04:17] #4398 closed

[2021-04-10 04:36] xiezhuojin opened #4522 "Can't create sql server source."
**Please describe your problem in detail, if necessary, you can upload the log file through the attachment**:
Tried to create sql server at http://192.168.1.223:18083/#/resources, a {"message":"Test Creating Resource Failed","code":500} error message returned. I could
 connect to sql server in my machine using navicat, but can't do that in emqx enterprise edition. I have installed freetds-common a

[2021-04-10 05:59] qzhuyan commented on #4509
@zcgecho
It could be some erlang vm's cache wasn't returned to the OS for handling spike load.

to verify that, could you attach the emqx's remote console and send us the output of the following command?

[code]
then in the console:

[code]

[2021-04-10 06:56] cocoaway opened #4524 "emqx does not compile in Alpine 3.13"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`): latest
- Hardware configuration (e.g. `lscpu`): alpine 3.13 on virtual machine
- OS (e.g. `cat /etc/os-release`): Alpine 3.13
- Kernel (e.g. `uname -a`):
- Erlang/OTP version (in case you build emqx from source code): Alpine erlang-dev package
- Others:

**What happened and what you expected to happen**:
run make, start compiling, immedia

[2021-04-10 07:13] zmstone commented on #4524
Odd, we have alpine in our ci pipeline.
Could you set `export DIAGNOSTIC=1`, and send the error messages?

[2021-04-10 08:37] mariusstaicu opened #4548 "Cluster size metric"
Hi

Is there a way to possibly have a metric that shows the emqx cluster size? This would be very useful since we've had situations when we had 5 nodes up, however k8s autocluster only discovered 4 nodes for whatever reason (maybe a networking problem in the cluster). So it would be an awesome metric to monitor.

[2021-04-10 12:45] cocoaway commented on #4524
Hi,

made make with `export DIAGNOSTIC=1`
 ...

===> Solving Release emqx-4.3-rc.3-2a9a5e74
===> Uncaught error in rebar_core. Run with DIAGNOSTIC=1 to see stacktrace or consult rebar3.crashdump
===> Uncaught error: {badmatch,{error,enoent}}
===> Stack trace to the error location:
[{rlx_resolve,to_app,3,
              [{file,"/src/_build/default/lib/relx/src/rlx_resolve.erl"},
               {line

[2021-04-10 15:40] zmstone commented on #4524
hi @cocoaway
This is unfortunately not quite helpful to identify which app caused the crash.

You said "Alpine erlang-dev package"  could you be more specific on which exact OTP version it is?
If you are not sure, you can run this command to inspect:
`docker run -it --rm <your-erlang-image-name> erl -noshell -eval 'io:format("~s~n", [erlang:system_info(otp_release)]),init:stop(0).'`

I have tested

[2021-04-10 15:42] zmstone commented on #4524
@cocoaway btw it requires `bash` to build and run emqx

[2021-04-10 16:17] cocoaway commented on #4524
@zmstone
bash is intalled

apk info erlang-dev
erlang-dev-23.1.5-r0 description:
General-purpose programming language and runtime environment (development files)

I'm trying to compile emqx on a native Alpine distro not with docker.

[2021-04-10 16:42] zmstone commented on #4524
could you compare the outputs of below commands:
`ls _build/emqx/lib/ | xargs echo | tr ' ' '\n' | sort`
`find _build/{emqx,default}/lib/ -maxdepth 3 -name '*.app' | xargs -I{} basename -s .app -- {} | sort`

If everything is fine, the commands should print 68 lines, and two outputs should be identical.
If not, please proved the diff.

[2021-04-11 02:01] matthewGEA opened #4529 "What is the correct configuration for a 2-way bridge?"
I have failed to establish a 2-way bridge between two EMQx brokers that does not results in an infinite loop of publishes between the two brokers.

The desired configuration is:
- a single broker both publishing and a subscribe to another broker (the bridge is desired to be configured on only one broker, the other just receives the bridge).
- The broker making the bridge will publish its topic wit

[2021-04-11 03:54] zcgecho commented on #4509
thanks very much  ,i will check it .

[2021-04-11 04:08] zcgecho commented on #4509
i tese just in standalone ,so not use akka. it seems in standalone mod the cmd "emqx remote_console " does not works.

./emqx remote_console
Protocol 'ekka': register/listen error: eaddrinuse

[2021-04-11 04:26] zcgecho commented on #4509
thanks for your reply.

i boot sub program firstly and then push msg to a certain topic  which can be consumed by certain subscribers definetely.
so i don't think msg will be blocked， and also that msg is not retained in broker(retain flag false).

by the way ,i found a strange thing that the mem seems to be stable and normal if msg is a small size(json about 100 byte)，but  mem rise up slowly if m

[2021-04-11 04:56] matthewGEA commented on #4529
To clarify on Question 4 above, I see the "MQTT Subscription" resource, but after successful creation, I only see a client connection on the remote broker, not any subscriptions to the topics that I added to the "MQTT Subscription" resource.

[2021-04-11 05:17] zmstone commented on #4509
please try  the attach command instead of remote_console

[2021-04-11 07:06] cocoaway commented on #4524
Hi,
the command `find _build/{emqx,default}/lib/ -maxdepth 3 -name '*.app' | xargs -I{} basename -s .app -- {} | sort` returns a lot of :

Usage: basename FILE [SUFFIX]

Strip directory path and .SUFFIX from FILE
BusyBox v1.32.1 () multi-call binary.

The command `ls _build/emqx/lib/ | xargs echo | tr ' ' '\n' | sort`  returns a list of filenames :

base64url
bcrypt
bson
cowboy
cowlib
cuttlefish
e

[2021-04-11 07:26] zmstone commented on #4524
please send output of command
find _build/{emqx,default}/lib/ -maxdepth 3 -name '*.app'

[2021-04-11 07:28] cocoaway commented on #4524
`find _build/{emqx,default}/lib/ -maxdepth 3 -name '*.app'`

_build/emqx/lib/emqx_retainer/ebin/emqx_retainer.app
_build/emqx/lib/emqx_auth_ldap/ebin/emqx_auth_ldap.app
_build/emqx/lib/emqx_sasl/ebin/emqx_sasl.app
_build/emqx/lib/emqx_stomp/ebin/emqx_stomp.app
_build/emqx/lib/emqx_auth_jwt/ebin/emqx_auth_jwt.app
_build/emqx/lib/emqx_auth_mnesia/ebin/emqx_auth_mnesia.app
_build/emqx/lib/emqx_rule_e

[2021-04-11 07:36] zmstone commented on #4524
Thank you.
It seems all EMQ applications are compiled correctly.
Could you send the output of this command `find _build/emqx/rel/emqx/lib/ -name '*.app' -type f | sort`

[2021-04-11 08:27] bloodberrys commented on #4467
@gomgomshrimp Well, I have the same question to this issue. Did you have any solution already? Anyway, I deployed the emqx using helm charts based on the emqx broker doc here: https://docs.emqx.io/en/broker/v4.3/getting-started/install.html#install-emq-x-in-docker-contain-a-simple-docker-compose-cluster to my EKS, but there was no loadBalancer available on the emqx-service. All tutorial available

[2021-04-11 08:35] zmstone commented on #4184
Hi again @dsilletti

I will start working on the supports for HTTP headers soon.
So users can use either http proxy and tcp load balancing.

[2021-04-11 08:38] bloodberrys commented on #4467
I have tried to patch the service to
`kubectl patch svc my-emqx -p '{"spec": {"type": "LoadBalancer"}}'`
and also edit the service to add an NLB loadbalancer annotations for AWS. The external IP showed up but I still can't pub/sub with the DNS.

[2021-04-11 08:41] zmstone commented on #4467
If I remember correctly, service type can not be changed without redeployment.

[2021-04-11 08:52] zmstone commented on #4467
Hi. I am not sure if I understand the questions correctly but
1.  EQM X nodes discover each other to form a cluster using k8s APIs.
2. K8s Service publishing (so to reachable from external)
These are two different topics, I don't think they are related.

I think @bloodberrys is going in the right direction (by adding a load balancer).
ref: https://kubernetes.io/docs/concepts/services-networking/se

[2021-04-11 09:14] bloodberrys commented on #4467
@zmstone exactly.
This is my attempt:
0. Adding tcp port 1883 to my AWS security group.
1. `kubectl edit svc/my-emqx` and adding `service.beta.kubernetes.io/aws-load-balancer-type: "nlb"` under annotations.
2. exit
3. kubectl patch svc my-emqx -p '{"spec": {"type": "LoadBalancer"}}'
4. I got my external IP!!
![image](https://user-images.githubusercontent.com/36856722/114298390-5edfa900-9ae0-11eb-9

[2021-04-11 09:28] zmstone commented on #4467
I think clients are not allowed to subscribe `#`.
you can try to subscribe `presence` (as where the producer publishes message to)
or `prefix/#`

[2021-04-11 09:29] #4467 closed

[2021-04-11 09:35] zmstone commented on #4524
Hi @cocoaway

I have just merged this PR: https://github.com/emqx/emqx/pull/4530
It will now print the error details about which Erlang app caused the crash.

Could you try to pull the latest `master` branch and try again with below commands:

[code]

[2021-04-11 10:30] cocoaway commented on #4524
Hi @zmstone ,

===> Solving Release emqx-4.3-rc.3-41168065
escript: exception error: no function clause matching
                 rlx_resolve:format_error({bad_app_file,
                                           "/usr/lib/erlang/lib/observer-2.9.5/ebin/observer.app",
                                           {error,enoent}}) (/src/_build/default/lib/relx/src/rlx_resolve.erl, line 10)
  in functi

[2021-04-11 10:37] cocoaway commented on #4524
@zmstone Here is the full log of make
[log.txt](https://github.com/emqx/emqx/files/6291532/log.txt)

[2021-04-11 10:49] zmstone commented on #4524
Thank you @cocoaway
Will be fixed in #4533

[2021-04-11 12:13] #4529 closed

[2021-04-11 13:43] zgldh commented on #3390
Yes the emqx_auth_pgsql locks tables but never release.
Maybe due to this issue, this plugin does not do auth work.
![image](https://user-images.githubusercontent.com/312404/114306601-d9272200-9b0e-11eb-9a9f-10c9e68387b6.png)

[2021-04-11 14:01] cocoaway commented on #4524
@zmstone Thanks to you !

[2021-04-11 18:34] gbrehmer commented on #2985
I can also confirm that there are no more errors with the current version (4.2.9). I had only tested up to version 4.0.1 and no newer version since then.

My results with an adapted version of emqtt_bench (our test devices needs special unique topics):
3 node cluster, each 8GB RAM & 4 CPUs

Case 1: 1200 clients, 600 subscriber, 600 publisher, 300 messages published/s, 300 messages received/s (0% l

[2021-04-11 19:41] qzhuyan commented on #2985
Thanks for your info,

I tested with a 4 cores system but only gives 2 schedulers (vmargs +S2:2) for emqx since I also run the emqtt_bench on the same machine. After I assigned 4 cores to the emqx and change emqtt bench's interval to 10 (100 reqs/s), I can reproduce the issue. Looks like it needs more concurrent tasks to reproduce it because the issue is about lock contentions across the processes

[2021-04-12 01:05] #4472 closed

[2021-04-12 01:34] #4499 closed

[2021-04-12 01:41] #4487 closed

[2021-04-12 01:45] #4511 closed

[2021-04-12 02:09] HJianBo commented on #4504
Yes, the SDK is included, but the support for it is inconsistent between the open-source and enterprise edition

[2021-04-12 02:17] xiezhuojin commented on #4522
After changing the topic field to ms-sql in odbcinst.ini, everything seems right. So, case closed.

[2021-04-12 02:17] #4522 closed

[2021-04-12 03:33] matthewGEA opened #4535 "Starting single node of an existing cluster fails"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`):  4.3-rc.3 (docker pull emqx/emqx:4.3-rc.3)
- Hardware configuration (e.g. `lscpu`): x86_64, 4-core 16GB ram
- OS (e.g. `cat /etc/os-release`): ubuntu server 18.04
- Kernel (e.g. `uname -a`): 4.15.0-121-generic #123-Ubuntu SMP Mon Oct 5 16:16:40 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- Erlang/OTP version (in case you build emqx from sourc

[2021-04-12 05:00] #4524 closed

[2021-04-12 06:58] feng-crazy opened #4539 "Can data stream names and rule names support Chinese names?"
This is because the name of the Kuiper stream must match the name of the device type, and the device type supports Chinese in the system.

[2021-04-12 07:21] gbrehmer commented on #2985
Ah my notes from previous tests was outdated, I forgot the wildcard sorry. Now many errors are back, still with lower counts. The problem is bigger when we use more nodes (like @HJianBo mentioned in https://github.com/emqx/emqx/issues/2851#issuecomment-526795892). Last time with 4.0.1 we use 2 nodes, this time 3 nodes

test results:
Case 1: 200 clients, 100 subscriber, 100 publisher, 25 messages p

[2021-04-12 09:30] qzhuyan commented on #2985
@gbrehmer

really appreciated!  glad to know that we are on the same page.

You test with 600 clients which is a very low number of clients.  can you check if they are all connected and subscribed successfully since the issue is on the problem of subscribing timeout?  So I would like to check the counters on the emqx.

another question,
< 196 messages received/s (35% loss)
Is that MQTT message los

[2021-04-12 09:59] zmstone opened #4545 "mqtt bridge client supports no-local config"
Currently no-local `nl` option for bridge MQTT client (`emqtt`) is not configurable.
Per this discussion: https://github.com/emqx/emqx/discussions/4534
it can be useful for MQTT v5 bridging to avoid infinite looping.

[edit1 20241219]
a note: EMQX make use of a pool of clients by default, `nl` flag only makes sense when it's a single client bridge running in a single node cluster.
you'll probably

[2021-04-12 10:09] gbrehmer commented on #2985
short answer regarding message loss:
it's the output from the benchmark tool

publisher:
[code]

subscriber:
[code]

on client side there is no error logged
from server log:

[code]

[2021-04-12 10:25] qzhuyan commented on #2985
@gbrehmer thanks, the server log shows that it is subscribe timeout!

I guess there are 390 clients out of 600 clients get timeout from the log of benchmark tool.

we are on the same page!

Do you know the roundtip time between nodes in the cluster? a simple ping command can verify that.
such like,

[code]

[2021-04-12 10:33] seqwait opened #4546 "subscription lose sometimes"
**Environment**:
- EMQ X version v4.0.0:

 a client subscribe some sys topic after N day the subscribe topics missed and how investigate the question? now i must  used crontab check  'http://localhost:18083/api/v4/subscriptions/clientId' if checked lose i reconn and resub!

[2021-04-12 12:32] HJianBo commented on #4539
Hi, @feng-crazy Very happy to hear your advice.

Can you give an example? For example, what kind of rule would need to be created?

[2021-04-12 13:33] dsilletti commented on #4184
Hi @zmstone, this is a great news!
Thank you for your support

[2021-04-12 14:58] qzhuyan commented on #4535
trouble reproduced and solution is provided in
https://github.com/emqx/ekka/pull/86

[2021-04-13 00:48] zcgecho commented on #4509
i reproduce this issue when msg published to broker is very bigger(json about 17k) with high frequncy. then i use ./emqx attach cmd error as follow shows .
--------------------
properties => #{},proto_ver => 4,protocol => mqtt,username => <<"admin">>})
2021-04-13 08:18:11.852 [warning] <<"Sub_Clientid_10002">>@10.130.212.71:64225 [Session] Dropped msg due to mqueue is full: Message(Id=^@^E¿Ï
ÛôBZ^

[2021-04-13 02:16] datafeng opened #4551 "ubuntu20.04 安装错误"
问题描述：
对着官方安装文档一步步操作，更新源的时候提示错误
系统环境：ubuntu 20.04
出错步骤：
![image](https://user-images.githubusercontent.com/6417549/114486903-3ae7a900-9c41-11eb-8286-d3a5e3794939.png)

出错提示内容：
![image](https://user-images.githubusercontent.com/6417549/114486931-45a23e00-9c41-11eb-9003-295587ad3cee.png)

**Environment**:

- EMQ X version (e.g. `emqx_ctl status`):
- Hardware configuration (e.g. `lscpu`):
- OS (e.g. `

[2021-04-13 02:42] datafeng commented on #4551
![image](https://user-images.githubusercontent.com/6417549/114488974-e2b2a600-9c44-11eb-871f-8a225b7d11ce.png)

[2021-04-13 06:07] TxcA commented on #4551
我昨天本地测试都还行，今天部署出现同样问题。
手动修改 `/etc/apt/sources.list` 中 `deb [arch=amd64] https://repos.emqx.io/emqx-ce/deb/ubuntu/ ./focal stable` > `deb [arch=amd64] https://repos.emqx.io/emqx-ce/deb/ubuntu/ focal stable` 可以正常下载，但是启动失败，且`/etc/emqx/plugins`目录为空。

[2021-04-13 06:18] TxcA commented on #4551
[code]

[2021-04-13 07:36] zmstone commented on #4465
4.3里增加了源topic 的hash:
https://docs.emqx.io/en/broker/v4.3/configuration/configuration.html#broker-shared-subscription-strategy
所以如果订阅者都 subscribe 到 `prefix/#`
然后发布者发布到 `prefix/clientID`
就可以实现类似按照发布者clientID的方式来选择订阅者了

另外，如果订阅者数量发生变化，映射关系就会改变，这个是没法避免的。

[2021-04-13 07:37] #4465 closed

[2021-04-13 08:00] zmstone commented on #3390
How many rows do you have in the table ?

[2021-04-13 08:05] zmstone commented on #3390
and which postgres version ?

[2021-04-13 09:07] zgldh commented on #3390
PostgreSQL 11
EMQX 4.2.7

There are only 10 rows in mqtt_user table.

[2021-04-13 10:39] DDDHuang opened #4557 "Message retransmission ‘message.delivered’ hooked"
- EMQ X version (e.g. `emqx_ctl status`):  4.X

When message retransmission (dup message ), ‘message.delivered’ should not be hooked

[2021-04-13 17:17] zmstone commented on #3390
Hi @zgldh do you have very heavy auth load?
what's the pool size ` auth.pgsql.pool` (default 8).
could you send the table description? in `psql` command line tool: `\d+ users.users`

For reference:

I tested with concurrent 40 processes running
`select is_superuser from mqtt_user where username = $1 limit 1`
in a busy loop on 20 connections towards postgres.

If I put `alter table mqtt_user add co

[2021-04-13 17:38] #4535 closed

[2021-04-13 18:38] zmstone commented on #4551
我使用这个方法测试：
[code]

不管是 ` ./$(lsb_release -cs)`  还是 `$(lsb_release -cs)` 都可以成功安装，结果如下：

[code]

你遇到的问题看起来想网络问题或者文件传输问题，可以重试一下吗？

[2021-04-13 18:58] zmstone commented on #4509
what you are seeing is the logs being sent to the attached pipe
the logs should also be written to log files.

yes, this log implies message are being dropped due to the internal message buffer (queue) is full.
which is typically caused either due to publishers being aggressive or subscribers being slow.

I would not worry about the slow increase of RAM usage
unless hitting the limit and getting O

[2021-04-13 20:12] qzhuyan commented on #4509
if @zcgecho sees the "Dropped msg " warnings after attaching to the console, doesn't it mean it is just happening?

Could that be caused by some slow subscribers or even offline subscribers?

[2021-04-13 20:24] zmstone commented on #4509
Yes it’s ongoing event which is not surprising given the high message rate.
Offline clients with persistent session could be another possibility yes

[2021-04-14 00:43] seguidor777 commented on #2741
Same issue for me on version 4.2.5

`2021-04-14 00:30:22.805 [error] [RuleEngineAPI] init_resource_failure: {{emqx_web_hook_actions,
                                         on_resource_create},`

The endpoint is reachable from the cluster. I'm testing with this one https://emqx-test.free.beeceptor.com

[2021-04-14 01:16] TxcA commented on #4551
[code]

今天没问题了，也获取到了最新的4.2.10版本，应该昨天网络有问题。

[2021-04-14 03:08] HJianBo commented on #2741
Hi @seguidor777 could you give me more details log?

[2021-04-14 03:09] #4551 closed

[2021-04-14 03:19] doncici opened #4562 "install fail"
**Please describe your problem in detail, if necessary, you can upload the log file through the attachment**:
现在有个问题，在尝试安装emqx broker 4.2稳定版的时候，启动报错
now i got a issue, when I am trying to install emqx broker4.2 stable version ,i got following issue .
![image](https://user-images.githubusercontent.com/58241861/114649297-d7c64700-9d12-11eb-85b1-eb0c8efa008c.png)

然后再尝试安装其他低版本的时候，相关依赖包又报错
and when i

[2021-04-14 03:36] HJianBo commented on #4562
Plz see: https://docs.emqx.cn/broker/v4.3/faq/error.html#openssl-版本不正确

[2021-04-14 05:22] seguidor777 commented on #2741
Sure
These logs appear when I test the connection from the UI.
[code]

[2021-04-14 06:45] #4184 closed

[2021-04-14 06:52] doncici commented on #4562
谢谢，问题解决了，因为我8.0的操作系统 装错了版本

[2021-04-14 09:05] KrYpToDeN commented on #4305
Hello, @HJianBo

It's all right, Thank you very much.

But, how can i check ALC via MySQL now?

SSL clients now have unlimited access.

`auth.mysql.acl_query = select allow, ipaddr, username, clientid, access, topic from mqtt_acl where ipaddr = '%a' or username = '%u' or username = '$all' or clientid = '%c'`

[2021-04-14 09:17] nishant-vvdn opened #4565 "No way to comment acl.conf on Kubernetes"
As it mentioned in official EMQX Docs:

But there is not way to **comment all the rules in acl.conf** during **kubernetes deployment**. Kubernetes Deployment file (.yaml) does not have any way to do that.

[2021-04-14 09:28] #4565 closed

[2021-04-14 09:36] CH1NL1ANG opened #4567 "测试非加密连接时，可以支持每秒建立700个连接；加密连接时只能支持每秒100个连接，请问有什么办法可以改善吗？"
**Please describe your problem in detail, if necessary, you can upload the log file through the attachment**:

[2021-04-14 09:41] CH1NL1ANG commented on #4567
问题表现为，测试加密连接时，每秒超过100个连接，服务器的CPU会飚到非常高，客户端这边提示connect error

[2021-04-14 09:50] sh3d2 opened #4568 "community plugin build problem"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`):  EMQ X Broker 4.3-rc.3-28a41eb7 is running now!
- Erlang/OTP version (in case you build emqx from source code):  Erlang/OTP 23 [erts-11.1.4] [source] [64-bit] [smp:4:4] [ds:4:4:8] [async-threads:4] [hipe] [dtrace]

**What happened and what you expected to happen**:

When developing a community plugin (following the plugin development guid

[2021-04-14 10:15] zmstone commented on #4568
Hi @sh3d2
You can try `include` not `include_lib`.
ref: https://github.com/emqx/emqx/blob/master/rebar.config.erl#L51-L52

[2021-04-14 10:57] sh3d2 commented on #4568
i did try that
[code]

results in
[code]

[2021-04-14 11:05] zmstone commented on #4568
For logging, I'd recommend not to use emqx_logger.
logger should do just fine.

[2021-04-14 11:36] sh3d2 commented on #4568
out of curiosity whats the reason behind that?

As for logger, will it respect log levels and targets set in `emqx.conf`? I guess (even a) custom developed plugin should follow general emqx log settings

[2021-04-14 12:06] zmstone commented on #4568
The log level settings in emqx.conf is global.
The parse-transform in emqx_logger makes use of some module attributes and add them as log line prefix see: https://github.com/emqx/emqx/blob/4a388400a54db5a258fcb6dfede7b909e47b1b06/src/emqx_logger.erl#L229-L231

We can add log metadata without module attributes or parse-transform.

[2021-04-14 12:15] sh3d2 commented on #4568
actually the module attribute way of setting log prefix looked pretty slick ;)

anyways, logging works just fine with `logger` alone.

[2021-04-14 12:15] #4568 closed

[2021-04-14 12:17] zmstone commented on #4568
We are moving to structured logging. e.g json.
And we may as we

[2021-04-14 12:23] sh3d2 commented on #4568
great idea. it will make analysing emqx logs with ie ELK much easier 👍

[2021-04-15 06:22] HJianBo commented on #2741
What about manually adding the port number and trying again? e.g: `https://emqx-test.free.beeceptor.com:80`

[2021-04-15 07:38] seguidor777 commented on #2741
Thanks @HJianBo, it works now, I was just missing to specify the port

[2021-04-15 07:44] gbrehmer commented on #2985
ping results:
from host 1 to 2:
[code]

from host 1 to 3:
[code]

[2021-04-15 08:14] qzhuyan commented on #2985
note:
1. the performance degradation beween 2.x and 4.x  is mostly caused by `mnesia:wread` calls.
2. There are many lock conflicts on lower  topic level,  we need to consider using a compact trie tree to reduce mnesia trans restart.

[2021-04-16 01:58] HJianBo commented on #2741
That's a bad design actually. We had fixed it in the v4.2.9 @seguidor777

[2021-04-16 03:24] yogkang commented on #4567
SSL 的连接可定是会耗 CPU 。我想了解下你那边是 tcp 最高压测出来的每秒连接数是多少。

[2021-04-16 05:56] jiajiale opened #4593 "How to impove sub rate"
Environment
  OS: Centos 8.0
  EMQ: 4.2.9
  CPU: 2vcpu
  Memory: 8G
Description
I change listener.tcp.external.max_conn_rate parameter to 10000，but when I subscribe emqx, only get 1k sub rate, Is there any other parameters I need to change?

[2021-04-16 09:28] #4548 closed

[2021-04-16 09:56] terry-xiaoyu opened #4599 "MQTT-SN will message not sent"
When the MQTT-SN client gets disconnected due to idle_timeout, the will message is not sent.

The will message should be sent if the shutdown reason is not "normal".

**Environment**:

- EMQ X version (e.g. `emqx_ctl status`): 4.3.0-rc.3
- OS (e.g. `cat /etc/os-release`): ubuntu
- Erlang/OTP version (in case you build emqx from source code): 23.2.7

**What happened and what you expected to happen*

[2021-04-16 10:43] gbrehmer opened #4602 "[emqx_auth_http] Disable ACL not possible with current master / 4.3.x"
Plugin can not be loaded, if I want to disable ACL requests:

I'm using Docker and disable ACL by setting ENV variables (works with 4.2.x):
[code]

Error on load:
[code]

btw new Parameter headers can not be overridden with ENV Variables because HTTP Header name contains hyphens (e.g. content-type)

[2021-04-16 10:55] gbrehmer commented on #4602
resulting conf file part (after applying docker env props):
[code]

[2021-04-16 17:49] zmstone commented on #4602
hi @gbrehmer

thank you for reporting this.
we'll fix it asap.

this is a bug in env variable override.

As a workaround, you can modify the config file instead of using env override.

[2021-04-16 18:25] #4562 closed

[2021-04-16 18:27] #4509 closed

[2021-04-16 18:28] #4593 closed

[2021-04-16 18:28] #4567 closed

[2021-04-17 10:20] cocoaway opened #4614 "EMQX as Alpine Linux Service fails to stop"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`):  4.3-rc.4-fe080333
- Hardware configuration (e.g. `lscpu`): Virtual machine
- OS (e.g. `cat /etc/os-release`): Alpine Linux v3.13
- Kernel (e.g. `uname -a`): Linux alpv1 5.10.27-0-virt #1-Alpine SMP Wed, 31 Mar 2021 07:10:36 UTC x86_64 Linux
- Erlang/OTP version (in case you build emqx from source code): erlang-23.1.5-r0
- Others:

**What

[2021-04-17 11:20] gbrehmer commented on #4602
Ah I realized that docker entrypoint was changed too, I'm still using a copy from "old" emqx-rel https://github.com/emqx/emqx-rel/blob/master/deploy/docker/docker-entrypoint.sh - there properties can be disabled by setting empty string, then properties will be commented out. Has this been changed with 4.3.x?

[2021-04-17 11:37] z8674558 commented on #4602
Hi. In v4.3, we replace variables in Erlang runtime instead of rewriting config files by `sed`.
https://github.com/emqx/cuttlefish/blob/c16a4bbe330f11062839fe087d23d9ded9b9cdde/src/cuttlefish_generator.erl#L52
We are now fixing it to unset existing fields when env variable is set to "".

[2021-04-17 12:06] gbrehmer commented on #4602
thanks for clarification, so my bug report was a little bit misleading because I used the outdated mechanism. sorry for that.  Is there  a workaround for unsetting variables until fix is available? I tried uncommenting in conf file and setting empty value, both seems not to work for ACL-props from emqx_auth_http plugin

[2021-04-17 12:17] zmstone commented on #4602
No worries, I figured that you were probably assuming the old way.
It should work by commenting out the line like this: `# auth.http.acl_req.url = http://127.0.0.1:80/mqtt/acl`
but do not set environment variable.

I tested it yesterday, it should work.
You can evaluate `os:getenv("EMQX_AUTH__HTTP__ACL_REQ__URL")` from Erlang console to double check.

[2021-04-17 12:20] zmstone commented on #4602
https://github.com/emqx/cuttlefish/pull/26
the fix has been merged thank you @z8674558 for the quick action.
I am testing it on master branch now.

[2021-04-17 12:28] gbrehmer commented on #4602
It's working for `auth.http.acl_req.url` but if I change `auth.http.acl_req.method` the following error occurs, probably a plugin-specific problem.

[code]

[2021-04-17 12:32] zmstone commented on #4602
acl is disabled if `auth.http.acl_req.url` is commented out
you can leave the post method unchanged.
will update the doc.

[2021-04-17 13:18] gbrehmer commented on #4602
If I disable only acl, I got this error on publish/connect:

[code]

[2021-04-17 13:20] bibitiger opened #4616 "listener.ws.external.proxy_protocol can not work, trigger error:[error] Ranch listener 'mqtt:ws:8083' had connection"
**Please describe your problem in detail, if necessary, you can upload the log file through the attachment**:
os:
[code]
emqx: `4.2.7`
nginx:`openresty/1.7.7.1 core:nginx 1.7.7`

error msg:
[code]

emqx.conf
[code]

nginx.conf
[code]

please help me. I need devices true address.

[2021-04-17 15:25] sh3d2 commented on #4616
Hi,

dont confuse custom headers (x-forwarded-for/x-real-ip etc) with proxy protocol https://www.haproxy.org/download/1.8/doc/proxy-protocol.txt (proxy-protocol works at the tcp level) and AFAIK nginx doesnt support writing proxy protocol v2 info into upstream (in your case that is emqx server) https://trac.nginx.org/nginx/ticket/1639. and emqx dropped custom headers support with 4.0 version
https

[2021-04-17 15:41] matthewGEA opened #4619 "Multiple bridge connections to a single broker results in infinite loop of publishes"
I think I have found an additional bug.  Please verify and I'll open a separate issue:

The following is true with all brokers are 4.2.9 -OR- all brokers are 4.3-rc.3

Given there are two separate "local" emqx brokers connecting with the bridge-plugin to a single remote (aggregating) broker
Given the topic is the same for the forward and subscribe on both local brokers with the configured bridges

[2021-04-17 16:30] bibitiger commented on #4616
@sh3d2 Hi,
some online service is already on the server by nginx.switch to haproxy is  risky.is there other way to complete?

[2021-04-17 17:26] sh3d2 commented on #4616
@bibitiger emqx 4.3 introduces http proxy via headers https://github.com/emqx/emqx/issues/4184

that way setting

[code]
will give you client real ip address.

so your options are:
* upgrade emqx to 4.3 and use headers proxy
* drop nginx and go with haproxy to use proxy protocol

[2021-04-17 18:55] bibitiger commented on #4616
@sh3d2 4.3 is useful, wonderful. thanks very much!

[2021-04-17 18:55] #4616 closed

[2021-04-17 19:17] zmstone commented on #4602
Hi @gbrehmer
which version are you running ?
if it's commented out, the `clieng.check_acl` hook should not be registered.
evaluate `emqx_hooks:lookup('client.check_acl').` in Erlang console to double check.
`application:get_all_env(emqx_auth_http).` to inspect the plugin's configs.

could you share the outputs of above two commands ?

[2021-04-17 19:29] matthewGEA opened #4621 "MQTT Subscription Resource option missing from 4.3"
The "MQTT Subscription" option for a Rules Engine resource is missing in 4.3-rc.3 and rc.4. Using the docker container.  Configured as a multicast discovery cluster.

I didn't try 4.3-rc alpha, beta, rc.1 or rc.2.

![image](https://user-images.githubusercontent.com/46966648/115124672-6811bf80-9f91-11eb-88f8-d14b37033033.png)

[2021-04-17 19:50] zmstone commented on #4616
Thank you for your support @sh3d2

[2021-04-17 20:31] #4614 closed

[2021-04-17 20:57] gbrehmer commented on #4602
current master (custom build with private build pipeline)

[code]

so it  seems that commenting out is not enough?

[2021-04-17 21:21] #4174 closed

[2021-04-18 02:51] matthewGEA opened #4623 "Docker container: 4.3-rc.4: Generic server emqx_telemetry terminating"
When starting the docker container for 4.3-rc.4, the following error is shown in the log:

Below is the docker command to create the container:
`sudo docker run -d --name=emqx4.3-rc.4-cluster --network=host --restart=always -e "EMQX_NAME=emqx" -e "EMQX_HOST=host.localdomain" -e "EMQX_NODE__COOKIE=emqxcluster" -e "EMQX_CLUSTER__DISCOVERY=mcast" -e "EMQX_CLUSTER__MCAST__ADDR=239.192.0.1" -e "EMQX_CL

[2021-04-18 02:59] matthewGEA commented on #4621
I checked the docker container for 4.3-beta.1 and it the "MQTT Subscription" is missing there as well.

[2021-04-18 09:19] zmstone commented on #4602
Hi @gbrehmer

Could you check if you have:
1. unset the environment variable (if still running old version cuttlefish, before v3.3.3)
2. it's the correct file to comment out, if you have modified the source code, delete `_build` directory and try again
  or make sure you have modified the conf file in `_build/emqx/rel/emqx/etc/plugins/`
3. make sure application `emqx_auth_http` is restarted after

[2021-04-18 10:33] gbrehmer commented on #4602
I can not find any mistake:

I'm still using old docker entrypoint script which updates the config files based on env varibales.
I've checked the conf file in the running docker container:

[code]

as you can see url is commented out, otherwise the default url will be set, but as you can see in my previous post, url is not set at all (only empty array). It is possible that url is immutable or the

[2021-04-18 10:42] zmstone commented on #4602
I think commenting it out should work, manually or script doesn’t matter.
But cuttlefish also does it (override twice).

Then there was a bug in cuttlefish which overrides with empty string.

This is why I asked if you have pulled cuttlefish v3.3.3 in your build

[2021-04-18 10:46] gbrehmer commented on #4602
Ah now I understand, because I use old docker entrypoint with env variables, both mechanisms - old and new -  are used. Yes still using 3.3.2. okay then 3.3.3 should fix it. I can change my entrypoint script and env variables in the meantime

[2021-04-18 10:47] zmstone commented on #4602
If you need to keep using docker entrypoint override (May I ask what the reason is?), maybe you can try a different prefix (other than `EMQX_` if it’s for your own config.

[2021-04-18 10:50] zmstone commented on #4602
Thank you for the bug reports and patience with us.

[2021-04-18 10:50] #4602 closed

[2021-04-18 10:54] gbrehmer commented on #4602
We will switch to new mechanism, but I'm little bit confused regarding new mechanism:
The new mechanism uses the environment variables directly and if I understand the cuttlefish bug report, the fix was only for 4.2 or our approach.
How do I set the environment variable to disable the url?

[2021-04-18 11:20] zmstone commented on #4602
in 4.2, env overrides were supported by `sed` replacements for cuttlefish config (.conf) files which is slow and error prone.
in 4.3, env overrides were done by cuttlefish in memory
to make the overrides observable, node boot time overrides are printed to console, and plugin config overrides are logged to emqx logs (info level).

Now back to the bug, before cuttlefish v3.3.3, `EMQX_CONF__NAME=""`

[2021-04-18 11:37] gbrehmer commented on #4602
sentence from pull request was confusing: "to be backward compatible to 4.2.x"
`-e EMQX_AUTH__HTTP__ACL_REQ__URL=""` is still the way to go? Or 3.3.3 fixes both: backward compatibility and handling of of empty values for disabling settings

[2021-04-18 12:06] zmstone commented on #4602
Ah, sorry, should have been more clear. It fixes both.
Although it’s the same underlying problem.
I.e using empty string is not backward compatible to old behavior, but also, arguably more important: a bug made it unable to disable auth-http acl check from environment variables

[2021-04-19 07:15] #4623 closed

[2021-04-19 07:51] eleonora-a commented on #4227
@qzhuyan,

Did you succeed at reproducing the issue?

[2021-04-19 08:09] velimirj opened #4630 "Emqx in docker rare crash"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`): 4.2.10
- Hardware configuration (e.g. `lscpu`): /
- OS (e.g. `cat /etc/os-release`): /
- Kernel (e.g. `uname -a`): /
- Erlang/OTP version (in case you build emqx from source code): /
- Others: /

**What happened and what you expected to happen**:
Every once in a while, when doing `docker-compose up -d` with the docker-compose file which i

[2021-04-19 08:33] zmstone commented on #4227
@eleonora-a I believe @qzhuyan has managed to locate the issue.
we are working on a fix to improve cluster performance.

[2021-04-19 08:59] fracasula opened #4631 "Are in-order acknowledgments a requirement?"
Hello guys :wave: I have a simple question for you.

The MQTT v5 specs say that acknowledgement packets must be sent in the order in which the corresponding `PUBLISH` packets were received.

https://docs.oasis-open.org/mqtt/mqtt/v5.0/os/mqtt-v5.0-os.html#_Toc3901240

I checked with the [VerneMQ](https://github.com/vernemq/vernemq) guys and that it is not a requirement for their broker.

Is it a re

[2021-04-19 09:26] airclear commented on #4630
同问

[2021-04-19 10:36] sh3d2 opened #4633 "community plugin deps missing"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`): EMQ X Broker 4.3-rc.4-ad630f49
- Hardware configuration (e.g. `lscpu`):
- OS (e.g. `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Erlang/OTP version (in case you build emqx from source code): Erlang/OTP 23 [erts-11.1.4] [source] [64-bit] [smp:4:4] [ds:4:4:8] [async-threads:4] [hipe] [dtrace]

- Others:

**What happened and what you

[2021-04-19 10:56] zmstone commented on #4633
Hi @sh3d2
The release of extra apps is controlled by `EMQX_EXTRA_PLUGINS` environment variable.

[2021-04-19 10:57] zmstone commented on #4633
sorry. you mean deps of extra apps.

[2021-04-19 10:58] sh3d2 commented on #4633
thats exactly what i mean ;)

[2021-04-19 10:59] zmstone commented on #4633
have you tried to putting amqp client to this list:
`{applications, [kernel,stdlib,eredis,eredis_cluster,ecpool,foo]},`

[2021-04-19 10:59] sh3d2 commented on #4633
yup, no joy. looks like that file is ignored during release

[2021-04-19 11:01] zmstone commented on #4633
is `emqx_topic_manager ` pulled by rebar3 to `_build/default/lib`
or do you have a local clone in lib-extra ?

[2021-04-19 11:03] sh3d2 commented on #4633
[code]

[2021-04-19 11:06] zmstone commented on #4633
there is perhaps something wrong with rebar3 app discovery with this, I'll try to investigate.
could you try not to use symlink?

[2021-04-19 11:09] sh3d2 commented on #4633
same thing when `lib-extra/emqx-plugin-dir` is a local copy

[2021-04-19 11:10] zmstone commented on #4633
Sorry. I mean let rebar3 download it, do not symlink it from lib-extra to `../_build/default/lib/emqx_topic_manager`

[2021-04-19 11:12] zmstone commented on #4633
`rm -rf _build/default/lib/emqx_topic_manager` so it will force a re-download and re-discover.
nontheless, amqp_client should be added to applications list

[2021-04-19 11:20] sh3d2 commented on #4633
started off clean. `_build` removed, no symlinks alltogether. still no `amqp_client`

[2021-04-19 11:21] gbrehmer commented on #2985
new performance improvement branch from @qzhuyan and @zmstone fixes our subscription problems! Thank you ❤️
previously we could reproduce errors with 300 wildcard subscriptions in a short timeframe on 3 node cluster (not the total number of active subscriptions is critical, only the concurrency when all devices creating subscriptions at the same time causes problems).
Now because our test setup is

[2021-04-19 11:43] sh3d2 commented on #4633
@zmstone removed everything, started from scratch and... it worked 😕
so yeah... _im a moron it seems_
anyway thanks for the discussion.

[2021-04-19 11:43] #4633 closed

[2021-04-19 11:50] zmstone commented on #4633
@sh3d2 my guess is rebar3 was bing lazy, and did not try to re-discover the dependencies.
not entirely sure if the symlink matters.
I'll try to have a closer look whn time allows.

[2021-04-19 11:53] sh3d2 commented on #4633
@zmstone thats my guess too. it worked after i push-added `amqp_client` to applications in the plugin repository. local (symlinked or not) change seemed not to make any difference. after rebar fetched the plugin with proper applications in the `app.src` everything worked ok

[2021-04-19 15:40] mdahlmanns opened #4636 "Example Security Certificates in this Repository and the Docker Image"
Hi!

We recognized that there are example security certificates, including their private keys, in this repository (/etc/certs). These certificates are also copied into the EMQX Broker Docker Image.

The distribution of example certificates allows users to use these certificates for their deployments directly. However, as the private key is public, these security certificates are basically compromi

[2021-04-19 16:01] zmstone commented on #4636
Thank you @mdahlmanns
This suggestion makes perfect sense.

[2021-04-20 00:47] tigercl commented on #4546
@seqwait Sorry for taking so long to reply to you. Will your client re-subscribe to related topics after reconnecting? I guess it was disconnected in the middle.

[2021-04-20 00:55] tigercl commented on #4631
@fracasula In fact, we currently have no mandatory requirements for this. But we are considering whether to strictly abide by the MQTT spec. What are your thoughts on this?

[2021-04-20 01:13] tigercl commented on #4621
@matthewGEA Sorry, this is a feature of the Enterprise Edition.

[2021-04-20 01:34] Rory-Z commented on #4630
Hi, @velimirj
I noticed that the image you are using is `emqx-test:latest`. This is not the image we released. Can you tell us what this image does?

[2021-04-20 02:37] terry-xiaoyu opened #4638 "Want a rule SQL function to convert unix timestamp to RFC3339"
**What would you like to be added/modified**:

As a user of emqx rule engine, I want a SQL function to convert the unix timestamp (Unix's epoch) to format rfc3339.

For example:

[code]
Results `{"datetime": "2021-04-20T10:04:43+08:00"}`

**Why is this needed**:

 To insert a date time string rather than a long integer to the database.

[2021-04-20 04:26] velimirj commented on #4630
Hi @Rory-Z,
I attached emqx.zip file in the original post, in there you can find Dockerfile and configuration files that I am using.
Thank you for helping!

[2021-04-20 04:42] matthewGEA commented on #4621
I don't see how to create an MQTT Subscription resource in Enterprise Edition.  I am running version 4.2.5 (docker image) and only see the following Resource option when filtering for "mqtt":
![image](https://user-images.githubusercontent.com/46966648/115338393-bf21bb00-a170-11eb-8ce8-2497efe16f58.png)

[2021-04-20 06:26] Rory-Z commented on #4630
Hi, @velimirj Can you use `FROM emqx/emqx:4.2.10` in Dockerfile, and retry

[2021-04-20 06:50] zmstone opened #4640 "rc-service daemon management script for Alpine Linux"
As discussed here: https://github.com/emqx/emqx/discussions/4622#discussioncomment-633540
It would be nice to have emqx running as managed daemon in Alpine Linux.

[2021-04-20 11:19] terry-xiaoyu opened #4642 "The rule is still enabled when resource_not_initialized"
After the emqx is restarted, I found that the rule for influxdb is failed to refresh:

[code]

It says that `The rule is disabled...` but actually the rule is still enabled -- from the dashboard. And if I tried to trigger the rule I would get errors about action not initialized.

**Environment**:

- EMQ X version (e.g. `emqx_ctl status`): 4.3.0-rc.4
- OS (e.g. `cat /etc/os-release`): Mac OS X
- Er

[2021-04-20 12:35] velimirj commented on #4630
Hi @Rory-Z, I've used your official image directly in docker-compose, and I'm still getting the same error after doing docker-compose down and up a number of times.
[code]

[2021-04-20 13:38] velimirj commented on #4630
I've added even more emqx services, and now almost always at least one container fails to start because of a crash.
[code]

[2021-04-20 13:54] k32 commented on #4630
I cannot reproduce the problem with the above docker-compose file on Ubuntu groovy. Which OS, version of docker and docker-compose are you using?

[2021-04-20 14:10] velimirj commented on #4630
Hi @k32, locally I'm using wsl2:

[code]

[code]

[code]

and on the cloud:
[code]

[code]

[code]

I'm having the same issue in both cases.

[2021-04-20 14:24] k32 commented on #4630
Just to clarify:
1) You don't use WSL in the cloud?
2) Docker-compose file from this message: https://github.com/emqx/emqx/issues/4630#issuecomment-823281631 is the full file, without any additional configurations skipped?

The error looks like network configuration for the `gen_rpc` listener is incorrect (either IP or port has wrong type)

[2021-04-20 14:43] velimirj commented on #4630
1. That's right.
2. It is the full file.

Is there anything I can do to debug this? It seems to me like some kind of race condition type of issue.

[2021-04-20 14:48] k32 commented on #4630
Thanks for the answers. I actually managed to reproduce the problem by increasing the number of containers to 13. This will simplify things.

[2021-04-20 15:52] k32 commented on #4630
Found the root cause. From `gen_rpc_helper.erl` (one of our dependencies):

[code]

Basically, it tries to guess port based on the node name. This code expects that the node name is something like `emqx1`, `emqx2`, etc...
When you start containers without specifying  `EMQX_NODE_NAME` environment variable, EMQ X uses docker container id as the node name. This id is random, and sometimes it can crea

[2021-04-20 16:02] fracasula commented on #4631
Hi @tigercl! I'm actually glad that you guys aren't relying on the acks to be sent back in order. I'm not sure I understand the reasoning behind those specs so I'm investigating a bit more to see if I can understand why it was specced out that way.

Btw, I think not having the requirement to send the acks in order strongly simplifies the client implementation and I can see use cases where the clie

[2021-04-20 16:20] caciuto commented on #4047
facing the same with v4.2.11 with Debian-10
Certificates used have been generated with Letsencrypt. Don't know if it is relevant...

[2021-04-20 16:27] qzhuyan commented on #4227
@eleonora-a  looks like it is the same as in #2985, we have a fix for that and it is under review.

because I found this in your log https://github.com/emqx/emqx/files/6123835/error.log and it is a wildcard topic.

[2021-04-20 16:30] velimirj commented on #4630
Thank you a lot!

[2021-04-20 18:53] k32 opened #4647 "Dockerized EMQ X should use manual gen_rpc and Erlang distribution port"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`):
- Hardware configuration (e.g. `lscpu`):
- OS (e.g. `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Erlang/OTP version (in case you build emqx from source code):
- Others:

**What happened and what you expected to happen**:
EMQ X uses `static` port allocation strategy by default for `gen_rpc` and erlang distribution. This strategy r

[2021-04-20 18:54] k32 commented on #4630
Thanks for the bug report, closing in favor of https://github.com/emqx/emqx/issues/4647 , which has clearer description.

[2021-04-20 18:54] #4630 closed

[2021-04-21 02:14] L60008028 commented on #4504
![image](https://user-images.githubusercontent.com/19485497/115486760-e4eeb300-a289-11eb-94d0-37bfe8ff3494.png)
名称
EMQ X Broker
版本
4.3-rc.3

message.publish\message.delivered\message.acked 都收不到回调，client.connect、client.connack、client.connected 能收到，
是开源版不支持吗？

[2021-04-21 06:13] GaoShin opened #4652 "Request failed with status code 500 when switch to plugins and modules page"
#### Environment

- OS: Ubuntu
- Erlang/OTP: Not use
- EMQ: latest version

#### Description

I deploy EMQX using docker-compose but it seems something wrong with EMQX web management.When I switch to plugins page or modules page,it says "Request failed with status code 500" and no modules or plugins show .The monitor page seems have the same problem.When error 500 happens, system name ,version,upt

[2021-04-22 02:32] #4638 closed

[2021-04-22 06:46] #4642 closed

[2021-04-22 11:25] Bevr2020 opened #4655 "Can split some fields in topic with rule engine？"
假如我往主题aa/bb/cc中发送消息，我想把bb的截取成指定key名称的消息格式，如{"t2":"bb"}，发送到其他指定主题topic，请问目前支持这样的功能？

[2021-04-22 21:23] igolubic commented on #3387
Hi, it would be great if somebody can explain this. Is there a real (like software) limitation, license limitation or?

[2021-04-23 01:04] tigercl commented on #4631
@fracasula I'm glad you mentioned its role in improving concurrency. It provides us with a new perspective to think about this matter.

[2021-04-23 01:47] wivwiv commented on #4621
Do you want to subscribe to remote broker topics?
like `AWS IoT Hub -> EMQ X`

You can use plugin `emqx_bridge_mqtt`

In rule engine the data is fanout.

[2021-04-23 02:35] #4655 closed

[2021-04-23 04:17] matthewGEA opened #4658 "Message order not preserved across the cluster"
I see that [#3046](https://github.com/emqx/emqx/issues/3046) was addressed a while ago, but maybe that handles a slower packet use-case?

Keeping packet order across the cluster is a critical requirement for our application.

**Environment**:
Docker container EMQX version 4.2.11

**What happened and what you expected to happen**:
- Given two clustered brokers
- Given a client is subscribed to a to

[2021-04-23 04:52] matthewGEA commented on #4621
I have used the `emqx_bridge_mqtt` for subscriptions.  I want to know more about the "MQTT Subscribe" resource within the Rules Engine.

This note seen in the [release notes for version 4.2.0](https://docs.emqx.io/en/broker/v4.2/changes/changes-4.2.html#version-4-2-0):

In version 4.2.11, there exists a Rules Engine resource called "MQTT Subscribe"
![image](https://user-images.githubusercontent.co

[2021-04-23 07:25] HJianBo commented on #4619
First, the `zone.external.ignore_loop_deliver = true` option is meaning that the PUBLISHER does not receive messages from itself. However, in this scenario, the duplicated message is sent by another connection from NodeB.  So this option does not work.

The solution is setting the `bridge.mqtt.aws.forward_mountpoint` to break this infinite loop

[2021-04-23 07:45] HJianBo commented on #4621
Yes, we have removed this feature after v4.3. You should use `emqx-bridge-mqtt` to replace it.

Yes.  you should manually set the subscription topic to be a shared. For example:

[code]

[2021-04-23 13:00] #4621 closed

[2021-04-23 13:24] matthewGEA commented on #4619
@HJianBo Can you explain how the loop is happening in scenarios 3 and 4, but not in 1 or 2?

Why would having two bridges with two different brokers change this behavior?

![image](https://user-images.githubusercontent.com/46966648/115877558-91a96b80-a415-11eb-9bd0-b1cab09ae6b6.png)

![image](https://user-images.githubusercontent.com/46966648/115877583-9b32d380-a415-11eb-9254-75d83984ad9b.png)

![

[2021-04-23 17:04] matthewGEA opened #4663 "EMQX Broker version 4.2.11 Windows Download file listed as 4.2.1.zip"
![image](https://user-images.githubusercontent.com/46966648/115905646-6124fa00-a434-11eb-9264-77f2e813b5e5.png)

AND
From this webpage:
https://www.emqx.io/downloads/broker/v4.2.11/
![image](https://user-images.githubusercontent.com/46966648/115905608-52d6de00-a434-11eb-956b-d107307fad1a.png)

[2021-04-24 05:54] lyhoait opened #4665 "How to get Publish Topic from API by Client ID or get list?"
i need to get list of Publish topic from API or by Client ID.
how to get it?

[2021-04-24 06:23] #4665 closed

[2021-04-24 12:22] Rory-Z commented on #4663
Hi, @matthewGEA Thank you for your feedback, we will fix this issue later

[2021-04-24 13:10] #4663 closed

[2021-04-24 14:56] cocoaway opened #4668 "emqx_auth_username plugin is missed from /emqx/lib"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`): 4.3-rc.3-41168065
- Hardware configuration (e.g. `lscpu`): Virtual Machine
- OS (e.g. `cat /etc/os-release`):Alpine Linux v3.13
- Kernel (e.g. `uname -a`): Linux alp-va 4.19.118-0-vanilla #1-Alpine SMP Thu Apr 23 11:16:44 UTC 2020 x86_64 Linux
- Erlang/OTP version (in case you build emqx from source code):  erlang-23.1.5-r0
- Others:

**W

[2021-04-25 01:08] tigercl commented on #4658
@matthewGEA Thanks for your feedback. Actually, the behavior of EMQ X should be a little different from what you expected. EMQ X can guarantee the order of messages under the same topic, but it cannot guarantee the order of messages between different topics.

[2021-04-25 01:24] tigercl commented on #4668
@cocoaway Sorry to trouble you. Starting from 4.3, we have removed the `emqx_auth_clientid` and `emqx_auth_username` plugins. They have been replaced by `emqx_auth_mnesia`.

[2021-04-25 01:45] #4599 closed

[2021-04-25 05:58] #4647 closed

[2021-04-25 08:44] zmstone commented on #4647
see also: https://github.com/emqx/emqx/pull/4670

[2021-04-25 10:39] #2985 closed

[2021-04-25 11:06] cocoaway commented on #4668
@tigercl I'm tring to understand the new plugin.

I've modified the `emqx_auth_mnesia` conf in this way :

[code]

The plugin starts correctly.

I test the connection with mosquitto, I want to subscribe a topic

`mosquitto_sub -h 192.168.1.181  -u alfa -P beta   -t test/gamma`

but I receive
`Connection error: Connection Refused: bad user name or password.`

If I try to insert the lines :

[code]

[2021-04-25 12:30] t2wu commented on #2902
I have this question as well. How exactly do we send username and password over with WebSocket? Is there a standard method? Where is it documented?

[2021-04-26 07:43] hfhtsoft opened #4674 "共享订阅不起作用"
#### Environment

- OS:  Docker
- Erlang/OTP:  R22/10.7.2.6
- EMQ:  4.2.10

#### Description
用MQTT.fx或者Pythonpaho.mqtt，订阅和发布信息到 $queue/at/test 中 QoS 1，无法接收到数据。Dashboard中监控队列，显示数据已经被丢弃。
使用普通topic名字则可以正常接收。
请问使用共享订阅是否需要对EMQX服务做一些相关的配置？
谢谢。

![1.PNG](https://i.loli.net/2021/04/26/x2qIZpyt5GRQz6w.png)

![2.PNG](https://i.loli.net/2021/04/26/Ga1eK7Xo9kvYdyh.png)

![3.PNG](https://i.loli.net/2021/04/26/

[2021-04-26 13:39] HJianBo commented on #4674
mqtt.fx has incorrect support for shared subscriptions. You can try the [MQTTX](https://mqttx.app) client we provide.

[2021-04-26 13:39] #4674 closed

[2021-04-26 19:34] spokc commented on #3252
Hi, we're using k8s `Deployment` with `cluster.k8s.address_type=ip`. But we're getting this error while auto clustering using k8s
[code]

[2021-04-27 02:50] xigua88-66 opened #4690 "Can the rate be configured when using a bridge to forward messages?"
**Please describe your problem in detail, if necessary, you can upload the log file through the attachment**:
When I configure replayq_dir, the forwarding rate is about 4000msg/sec. If memory is used without configuration, the forwarding rate is 5000msg/sec. But when I increase the message sending rate, for example, when it reaches 10000msg/sec, the forwarding rate will drop to about 2000msc/sec.

[2021-04-27 03:51] HJianBo commented on #4690
No, you can't.

Currently, there is still no configuration that can increase the rate of message forwarding. This is likely to be the bottleneck of what the system can handle.

How many totals cores and memory for your machine? And what's the size of the single message?

[2021-04-27 04:44] xigua88-66 commented on #4690
I am using emqtt_bench for testing, and the message size uses the default value of 256 bytes. But when I try to increase the message size to 5120, the forwarding rate will drop to 1000msg/sec~2000msg/sec。
Are there other ways to increase the forwarding rate of bridged messages?
Thanks for answering！
![image](https://user-images.githubusercontent.com/54090607/116186132-9b084000-a755-11eb-9395-ac0ee

[2021-04-27 05:25] qzhuyan commented on #4227
can you have a try with version 4.3-rc5 which includes the fix?

[2021-04-27 06:08] Rory-Z commented on #3252
Hi, @spokc
Please make sure that all of emqx's `node.name` the string before the "@" is consistent, and set it to the value of `cluster.k8s.app_name`

[2021-04-27 07:59] KrYpToDeN commented on #4305
Hello, @HJianBo

Do you have any ideas?
I think, it's the last problem with auth.

[2021-04-27 09:52] terry-xiaoyu commented on #2976
I has been long time since 3.x released. Reopen this if it is reproduced on 4.2.x

[2021-04-27 09:52] #2976 closed

[2021-04-27 09:57] terry-xiaoyu opened #4694 "MQTT-SN should cache publishes before receiving the REGACK"
When the mqtt-sn plug-in reconnects the client and cleansession = false, there is a problem with the order of handling publish and regack. According to the protocol, when the client reconnects, the broker can send a register message to the client to inform the client of the relationship between topic name and topic ID. After receiving the register, the client responds to regack. Only when the brok

[2021-04-27 14:24] csinatsch opened #4697 "Trying to reassign port the http port in docker"
Hello :) How can I reassign the http port from 8080 to a new port (say, 9090) because 8080 is needed for another service running on my server. I've tried remapping with the argument in my docker run command -p 9090:8080 or -e EMQX_LISTENER__API__MGMT=9090 but both seem to get ignored and 8080 is still being used by emqx.

Thank you!

[2021-04-27 17:50] zmstone commented on #4697
Hi @csinatsch which version are you running ?

[2021-04-27 17:53] zmstone commented on #4697
as far as I know, the management API listens on port 8081 by default not 8080
and the override variable is `EMQX_MANAGEMENT__LISTENER__HTTP` not `EMQX_LISTENER__API__MGMT`

[2021-04-27 17:58] csinatsch commented on #4697
Hi @zmstone I was running an outdated version that docker had pulled. The new version does run 8081. Thank you for the override variable also incase 8081 is also taken. Thank you again!

[2021-04-27 17:58] #4697 closed

[2021-04-27 18:01] zmstone commented on #4690
if you are forwarding messages from one EMQX node to another EMQX node
you can try the RPC bridge: https://docs.emqx.io/en/broker/v4.3/bridge/bridge-rpc.html#configure-broker-address-for-rpc-bridge

Otherwise I'm afraid you will have to wait for a MQTT connection pool implemented.

[2021-04-27 18:02] #4690 closed

[2021-04-27 18:51] zmstone commented on #4668
Hi @cocoaway
there was a bug in the config reader.
it has been fixed here: https://github.com/emqx/emqx/pull/4692
included in 4.3-rc.5 release

[2021-04-27 18:51] #4668 closed

[2021-04-27 18:58] zmstone commented on #4668
this config is outdated in documentation.
will follow up with an update to the doc site.
[code]

[2021-04-27 19:20] #4631 closed

[2021-04-27 21:30] gbrehmer opened #4704 "error on multiple wildcard subscriptions from one client"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`): current master
- Erlang/OTP version (in case you build emqx from source code): dockerfile from master

**What happened and what you expected to happen**:
Error on subscriptions:

We create multiple backend service mqtt client connections to handle the incoming messages. Each client is subscribing to several wildcard topics (home/1/#, home

[2021-04-27 21:38] qzhuyan commented on #4704
are you upgrading from 4.2.x to 4.3?  4.2 to 4.3 is not a supported upgrade path.  In 4.3 we have changed the data structure to improve the performance. You have to recreate the cluster I have to say.

[2021-04-27 21:42] qzhuyan commented on #4704
In your case you need to remove the mnesia data dir to wipe the schema.

And also ensure stop all the 4.2.x nodes before starts 4.3 nodes

[2021-04-27 22:19] matthewGEA commented on #4369
Forwarding the path used for shared subscriptions didn't make sense:

bridge.mqtt.aws.forwards =$share/${group_id}/+,$share/${group_id}/$SYS/brokers/+/clients/+/connected,$share/${group_id}/$SYS/brokers/+/clients/+/disconnected

What about just trying:
bridge.mqtt.aws.forwards =+,$SYS/brokers/+/clients/+/connected,$SYS/brokers/+/clients/+/disconnected

[2021-04-27 22:26] gbrehmer commented on #4704
ah I understand, thanks for clarifying

[2021-04-27 22:26] #4704 closed

[2021-04-28 16:33] k32 commented on #3057
Sorry, it took my a long time to start looking into this issue. Looking at the rule dump and the SQL query from https://github.com/emqx/emqx/issues/3057#issuecomment-797027387 I think the SQL query will never match.

I think the rule should be configured like this instead:

[code]

Notice that username is `'$all'` instead of NULL. I will update `emqx-docs` with the correct command.

[2021-04-28 16:33] #3057 closed

[2021-04-28 17:04] matthewGEA commented on #4535
@zmstone Can you see if version 4.2.11 grabbed this fix?  It doesn't seem to be working, but based on this fix being deployed 15 days ago and 4.2.11 was tagged 12 days ago, I would assume it got it?

[2021-04-28 17:41] qzhuyan commented on #4535
Fix is on the master branch for 4.3 releases. It is included in 4.3 rc5.  will see if we can backport it to 4.2

[2021-04-29 09:20] #2671 closed

[2021-04-29 11:02] vhlukhotskyy opened #4713 "JTT 808 module support"
I am using EMQX EE 4.2.6 running as a single node on Ubuntu 20.04 server with the default configuration and JTT 808 module installed using this [guide](https://docs.emqx.io/en/enterprise/v4.2/modules/jt808_protocol.html#create-module)

What I currently trying to achieve is to send basically any JTT 808 message to the EMQX and receive by subscribing to jtt808/#
topic.

- JTT 808 client - https://gi

[2021-04-29 12:59] #4713 closed

[2021-04-29 18:09] MarianoFr commented on #3090
Hi, about this, do you know if the following cipher suites are supported by EMQX?
n TLS_RSA_WITH_AES_128_CBC_SHA
n TLS_RSA_WITH_AES_128_CBC_SHA256
n TLS_RSA_WITH_AES_256_CBC_SHA
n TLS_RSA_WITH_AES_256_CBC_SHA256
n TLS_RSA_WITH_3DES_EDE_CBC_SHA
I'm ussing a Xbee 3 LTE-M/NB-IoT to communicate with the broker, but I'm having no luck

[2021-04-29 19:01] MarianoFr commented on #3090
Hi, @chimit. Could you please tell me how you see those error messages in the console?

[2021-04-29 19:01] zmstone commented on #4652
@ysfscream could you help to have a look into this ?

[2021-04-29 19:45] zmstone commented on #3090
Hi @MarianoFr
we use the openssl naming convention in emqx.conf or ciper suites config values.
e.g. `AES256-SHA256` is for `TLS_RSA_WITH_AES_256_CBC_SHA256` in rfc format.
see full mapping list below.

However it depends on which (openssl compatible) ssl library you installed on the host where emqx is running.
You can evaluate this `rp(ssl:cipher_suites(all, 'tlsv1.2', rfc)).` Erlang expression in

[2021-04-29 19:49] MarianoFr commented on #3090
@zmstone Thanks a lot I'll give it a try

[2021-04-29 20:06] k32 commented on #3090
You need to terminate each Erlang statement with `.`

[2021-04-30 03:29] heyouzhi commented on #3598
@HJianBo   你好，请问 这里 max_conn_rate 在配置多个 acceptors时不生效的问题有没有计划准备修复？

这里max_conn_rate参数非常有用。尤其是在网络波动，影响到了很多设备，设备大面积掉线重连时emqx机器的负载将会非常高，跑满cpu,导致emq对消息收发响应及其缓慢。
如果这个参数能限制设备建立链接的速度，就可以限制住机器的负载，保护服务端。

[2021-04-30 05:52] ysfscream commented on #4652
@GaoShin Hi, thank you for your feedback and sorry for causing you trouble. It is currently fixed in the next version.

[2021-04-30 07:31] #4694 closed

[2021-04-30 08:40] gtahubb opened #4718 "Response time of the use case of Paho Java"
**the dependency is org.eclipse.paho.client.mqttv3. If it is 1.2.0 and the previous version, the response time is around 50ms, and if it is a later version, it is 350ms.**:

[2021-04-30 09:04] k32 commented on #4652
Thank you, @ysfscream Could you share the PR that fixes the problem, so we could close the issue?

[2021-04-30 09:52] k32 commented on #4718
Hello,
I assume the latency changed after you updated paho plugin in your client application? https://mvnrepository.com/artifact/org.eclipse.paho/org.eclipse.paho.client.mqttv3

Did you change anything in the EMQ X installation?

[2021-04-30 10:01] gtahubb commented on #4718
Download it and use it directly

[2021-04-30 10:05] k32 commented on #4718
Could you please clarify the problem? Do I understand correctly that you updated the dependency of your java application, and it changed the latency.
Did you change version of EMQ X, or some configuration of the broker?

[2021-04-30 10:26] #4652 closed

[2021-04-30 11:11] MarianoFr commented on #3090
@k32 thanks a lot

[2021-04-30 12:43] zmstone commented on #4535
will be included in 4.2.12
https://github.com/emqx/emqx/pull/4725

[2021-04-30 14:35] k32 commented on #4047
It looks like a packaging problem. I see that EMQX v4.2.11 uses cowboy 2.8.1, which depends on cowlib 2.9.1 according to the app file. While EMQ X docker container ships with cowlib 2.7.0

[2021-04-30 15:20] zmstone commented on #4047
it looks like `emqx_auth_http` got its priority in dependency resolution.

[code]

[2021-04-30 15:24] k32 commented on #4047
Cowlib commit that introduced the missing function: https://github.com/ninenines/cowlib/commit/0a1fb6cc317f7fd15214d53c5f03b8e29506f413

[2021-04-30 15:27] zmstone commented on #4047
sorry, I did not set the correct environment variable.
these are the right dependencies for v4.2.11
[code]

[2021-04-30 15:29] zmstone commented on #4047
and it's 2.8.1 app version at 2.7.1 tag.
https://github.com/emqx/cowboy/blob/2.7.1/src/cowboy.app.src#L3
what a mess!

[2021-04-30 16:50] k32 commented on #4047
This PR should fix the cowlib version: https://github.com/emqx/emqx-auth-http/pull/260/files
It should be released in 4.2.12

[2021-04-30 16:54] zmstone commented on #4047
Thank you @k32
We'll see if we can make a new release on Monday.

[2021-04-30 21:06] qzhuyan commented on #4718
If possible, could you send us the tcpdump file so that we can check if there are any differences in the MQTT message?

[2021-05-03 10:18] cocoaway commented on #4668
@zmstone
Hi, the mnesia_auth plugin does not recognize authorized user from non authorized.

I've set the `emqx_auth_mnesia.conf` with :
[code]

then tested with mosquitto.

It is possible to connect and publish / subscribe as anonymous user.

`mosquitto_sub -h (emqx address) -t /test -d ` , in a console and the connection is accepted from the broker
[code]

Now I can publish all that I want to th

[2021-05-03 11:06] #4718 closed

[2021-05-04 11:53] k32 commented on #4215
The corresponding PR has been merged, closing the issue.

[2021-05-04 11:53] #4215 closed

[2021-05-06 09:02] zmstone commented on #4668
Hi @cocoaway I'll have a look soon.

[2021-05-06 10:11] redwolf2019 commented on #3731
@gbaranski same issue, i switch to `emqx/emqx:v4.1.4-alpine-amd64`, eqmx_auth_http plugin was runing normally.

[2021-05-06 10:23] zmstone commented on #3731
the key is `web.hook.headers.content-type`
so I don't think environment variable overrides will work because of the dash in the config key.

[2021-05-07 01:50] Bevr2020 commented on #4504
v4.3.0版本什么时候发布？4.2.11在使用emqx_extension_hook-java 中 onMessagePublish()，onMessageDropped()，onMessageDelivered()，onMessageAcked()的方法不执行

[2021-05-07 02:14] #3731 closed

[2021-05-07 06:48] zmstone commented on #3731
merged just about the right time. the fix will be in v4.3.0
For older versions: config keys with `-` in them do not support environment variable override.

[2021-05-07 08:41] seqwait opened #4749 "recv client_disconnected:keepalive_timeout when pingreq still"
1. emqx version:4.0
2. haproxy:1.8
listen mqtt_proxy
	bind	*:1884
	mode	tcp
	option	clitcpka
	option	tcplog
	timeout client	600s
	timeout	server 50s
	timeout	check 5000
	balance	leastconn
	server  emq1	172.17.110.203:1883 check inter 10000 fall 2 rise 5 weight 1 maxconn 50000
	server emq2	172.17.110.204:1883 check inter 10000 fall 2 rise 5 weight 1 maxconn 50000
        server  emq3    172.17.110.

[2021-05-08 04:34] shen-hj opened #4758 "emqx_auth_mongo failed to execute"
emqx_auth_mongo.conf:
auth.mongo.auth_query.collection = iot_mqtt_user
auth.mongo.auth_query.password_hash = plain
auth.mongo.auth_query.password_field = password
auth.mongo.auth_query.selector = username=%u
auth.mongo.super_query = off
auth.mongo.super_query.collection = iot_mqtt_user
auth.mongo.super_query.super_field = is_superuser
auth.mongo.super_query.selector = username=%u

When I use Mongo

[2021-05-08 07:36] 2605373904 opened #4762 "Node 'emqx@10.2.11.111' not responding to pings."
**Environment**:

- EMQ X version:
        emqx-centos7-v4.1.0.x86_64.rpm

**What happened and what you expected to happen**:
        emqx_ctl emqx

[2021-05-08 11:54] dsilletti opened #4766 ""[warning] ehttpc: Received gun_down with closed" after upgrading to emqx >= v4.2.11"
- EMQ X version: 4.2.11, 4.2.12, 4.3.0 official docker containers
- OS: Docker version 20.10.6, build 370c289 on Ubuntu 20.04.2 LTS (Focal Fossa)
- Kernel Linux 5.4.0-72-generic #80-Ubuntu SMP Mon Apr 12 17:35:00 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

upgrading to to emqx >= v4.2.11  I get continuosly this warning: [warning] ehttpc: Received gun_down with closed.
v4.2.10 and previous releases do

[2021-05-08 13:04] k32 commented on #4766
Could you attach the full EMQ X logs containing the error?

[2021-05-08 15:15] dsilletti commented on #4766
`Starting mqtt-broker ... done
Attaching to mqtt-broker
mqtt-broker        | EMQX_LOADED_PLUGINS=emqx_recon emqx_retainer emqx_management emqx_dashboard emqx_auth_http
mqtt-broker        | acl_deny_action = "disconnect"
mqtt-broker        | acl_file = "etc/acl.conf"
mqtt-broker        | acl_nomatch = "deny"
mqtt-broker        | allow_anonymous = "false"
mqtt-broker        | listener.ssl.external =

[2021-05-08 23:29] mloebl opened #4769 "EMQX_LOADED_PLUGINS fails with 4.3 in kubernetes"
**Environment**:

- EMQ X version (e.g. `emqx_ctl status`):  4.3
- Hardware configuration (e.g. `lscpu`):  aarch64
- OS (e.g. `cat /etc/os-release`): Ubuntu 20.04.2 LTS
- Kernel (e.g. `uname -a`): 5.4.0-1034-raspi
- Erlang/OTP version (in case you build emqx from source code):
- Others:

**What happened and what you expected to happen**:
Testing 4.3 with my existing 4.2 values.yml , I have the fol

[2021-05-09 07:01] gbrehmer opened #4770 "Online Documentation v4.3.0 outdated"
ref: https://docs.emqx.io/en/broker/v4.3/configuration/configuration.html

e.g. documentation missing for:
- rpc.port_discovery
- rpc.tcp_server_port
- rpc.tcp_client_port

contains still the old names

[2021-05-09 07:08] gbrehmer commented on #4770
and is https://github.com/emqx/emqx/blob/29bbc0802bc146143f4d373a38282e4b65c9eb37/etc/emqx.conf#L331-L332 still valid? because with docker image this property is by default set to `manual`
Probably this should be documented to (because previously I had to open the stateless Port based on node name in our inter-node-FW)

[2021-05-09 08:25] zmstone commented on #4769
seems to be this `mv`: https://github.com/emqx/emqx/blob/v4.3.0/deploy/docker/docker-entrypoint.sh#L100-L101
in commit aadd1ba11, we should have used `cat tmpfile > "$file"` instead.

@z8674558

[2021-05-09 08:28] zmstone commented on #4769
@mloebl thank you for reporting it.
as a workaround, please try to enable/disable plugins from configmap:
https://github.com/emqx/emqx/blob/v4.3.0/deploy/charts/emqx/values.yaml#L77-L84

[2021-05-09 09:20] zmstone commented on #4770
thank you @gbrehmer will update the doc.

[2021-05-09 10:12] zmstone commented on #4770
related: https://github.com/emqx/emqx/pull/4772

[2021-05-09 11:02] zhou6675021 commented on #4704
I have the same problem：
When I upgrade the version from 4.1.0 to 4.3 ,My client can't connect emqx_server,The following anomalies are reported：

2021-05-09T18:16:08.477680+08:00 [error] 97351eb8-bac5-459e-b9b9-073766ddc19e1620555523207@124.160.43.82:30677 crasher: initial call: emqx_connection:init/4, pid: <0.25389.3>, registered_name: [], error: {{badmatch,{error,{bad_type,{emqx_trie,{<<"publish

[2021-05-09 12:06] zmstone commented on #4704
Hi @zhou6675021
4.3 can not boot on old version database schema.
Please make sure mnesia dir is cleaned up

[2021-05-09 13:22] mloebl commented on #4769
Looks like I need to update my yaml with the configmap settings, thank you!

[2021-05-10 06:52] zmstone commented on #4769
@mloebl were you using configmap?
as @z8674558 pointed out in an other thread. k8s configmap is made readonly by default.
so if you are using configmap, you may not be able to override loaded plugins from environment variables anyway.

nonetheless, the fix is necessary because same will happen to docker run file-volume mounts

[2021-05-10 08:06] k32 commented on #4762
Is EMQ X service running while you're using the command?
Can you show
1) EMQ X service logs
2) Output of `ps aux | grep -E 'erl|emq'`
3) `systemctl status emqx`

[2021-05-10 11:00] gwind opened #4775 "How to debug the rule engine forward to backend web service, when `The connection was lost`"
I'm use rule engine do client's online/offline. Forward the client_connected / client_disconnected event to a backend service in k8s , but have these errors recently:

[code]

The cluster's info:

[code]

How can i could to debug the detail ?
Thanks,

[2021-05-10 11:54] #4769 closed

[2021-05-10 17:29] #4770 closed, assigned to tigercl

[2021-05-10 18:27] k32 commented on #4766
Thanks for the logs.

Could you clarify:

Does it mean you use `emqx_ctl data import/export` feature?

Do you have any webhooks configured?

[2021-05-10 18:37] dsilletti commented on #4766
You are welcome.

by upgrading I mean I switched from EMQX official docker container 4.2.10 to the EMQX  official docker container v4.2.11, v4.2.12 or v4.3.30 and I noticed this warning.
If I switch back to v4.2.10 or previuos releases this warning disappear.
I have nothing special configured, I am using the http auth plugin to authenticate the mqtt clients and I am using an ACL file.
The EMQX bro